{{ GRAMEX(cache=['js/G.min.js', 'pc.csv', 'abbr.csv', 'colors.csv', 'style.css', '.head.html', '.tail.html', '2014-summary.json'], max_age=10) }}{% code %}
title = 'Results 2014 analytics'
description = 'A live update on the 2014 Indian Parliament elections, by Gramener.'

from urllib import quote

countdown = 'test' not in args or datetime.datetime.utcnow() > datetime.datetime(2014, 5, 16, 2, 30, 0)

tv = args.get('tv')
appstyle = 'ibn' if 'ibnlive' in handler.request.host else ''
appstyle = args.get('style', [appstyle])[0]
pc = DB.csv('pc.csv')
abbr = DB.csv('abbr.csv').set_index(['Field', 'Name'])['Abbr'].ix['STATE']
abbr3 = DB.csv('abbr.csv').set_index(['Field', 'Name'])['Abbr3'].ix['STATE']
{% end %}<!DOCTYPE html><html lang="en">
  {{ T('.head.html', title=title, static_url=static_url, description=description, tv=tv, appstyle=appstyle) }}
<head>
{% if countdown %}
  <style>
    html { background: url('img/tile_bg.jpg') #B0B0B0; }
    body {
      background: url('img/page_bg_center.jpg') no-repeat center center;
      min-height: 600px;
      min-height: 100vh;
      padding-top: 10em;
      padding-top: 10vh;
    }
    h1 {
      font-family: "Century Gothic";
      font-variant: small-caps;
    }
    h1 { font-size: 400%; }
    h2 { font-size: 250%; }
    h3 { font-size: 250%; }
    .clock {
      font-size: 300%;
      margin-top: 1em;
    }
    .emboss {
      font-weight: bold;
      color: #456;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      text-align: center;
    }
    .branding { margin-top: .5em; display: none; }
    @media (min-width:  480px) { body { font-size: 12px;} }
    @media (min-width:  768px) { body { font-size: 18px;} }
    @media (min-width: 1024px) { body { font-size: 20px;} }
    @media (min-width: 1200px) { body { font-size: 24px;} }
    @media (min-width: 1600px) { body { font-size: 30px;} }
    @media (min-width: 1920px) {
      h1.logo { font-size: 200%; }
      body { font-size: 40px;}
      .branding { font-size: 150%; }
      {% if tv %}
        .branding { display: block; }
      {% end %}
    }
  </style>
</head><body>

  <h1 class="emboss logo">CNN-IBN Microsoft</h1>

  <h1 class="emboss">{{ title }}</h1>
  <h3 class="emboss branding" href="https://gramener.com/">Powered by Gramener.com<h3>
  <h2 class="emboss clock">
    <span id="days"></span>
    <span id="hours"></span>
    <span id="minutes"></span>
    <span id="seconds"></span>
  </h2>

  <script>
  var $d = document.getElementById('days'),
      $h = document.getElementById('hours'),
      $m = document.getElementById('minutes'),
      $s = document.getElementById('seconds'),
      live = Date.UTC(2014, 4, 16, 2, 30, 0)
  function refresh() {
    var t = live - (new Date()), d, m, h, s
    d = Math.floor(t / 86400000)
    t -= d * 86400000
    if (d > 0) $d.innerHTML = Math.floor(d) + ' day,'
    h = Math.floor(t / 3600000)
    t -= h * 3600000
    if (d > 0 || h > 0) $h.innerHTML = Math.floor(h) + ' hr,'
    m = Math.floor(t / 60000)
    t -= m * 60000
    if (d > 0 || h > 0 || m > 0) $m.innerHTML = Math.floor(m) + ' min,'
    s = Math.floor(t / 1000)
    t -= s * 60000
    if (d > 0 || h > 0 || m > 0 || s > 0) $s.innerHTML = Math.floor(s) + ' s to go'
  }
  refresh()
  setInterval(refresh, 1000)
  </script>
{% else %}
</head><body class="{{ 'tv' if tv else ''}} first-time live">

{% if appstyle %}
  {{ T('header.' + appstyle + '.html') }}
{% end %}
<nav class="navbar navbar-default expressions" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand heading direct-link" href="?">
        <i class="glyphicon glyphicon-home"></i>
        {{ title }}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="header-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="reload" href="?" title="Refresh" data-placement="bottom">
          <span class="last-updated"></span>
          <i class="glyphicon glyphicon-refresh"></i>
        </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container expressions">
  <script class="alliance-label onredraw" type="text/html">
    <svg class="alliance-label" width="100%" height="45">
      <text class="alliance-name" fill="<%= alliances[0].color %>" dy="38" x="0%"><%= alliances[0].name + ':' + (alliances[0].won + alliances[0].leading) %></text>
      <text class="alliance-name middle" fill="#000" dy="38" x="50%" text-anchor="middle">
        <tspan class="alliance-filter">
          <% _.each(applied_filters, function(val, key) { %>
            <% var show_val = _.map(val, function(v) { return filter_map[key + ':' + v] || v }), show_key = filter_map[key] || key %>
            <%= show_key.replace(/-/, ' ') %>:<%= show_val.join(', ') %>&#160;
          <% }) %>
        </tspan>
        <tspan><%= constituencies.total %><tspan>
        <tspan font-size="70%"> seats<%= constituencies.total < data.map.length ? ' / ' + data.map.length : '' %></tspan>
      </text>
      <text class="alliance-name" fill="<%= alliances[2].color %>" dy="38" x="100%" text-anchor="end"><%= alliances[2].name + ':' + (alliances[2].won + alliances[2].leading) %></text>
    </svg>
  </script>

  <div class="alliance-progress progress">
    <div class="progress-bar"
      x-title="$.alliances[0].name + ' won ' + $.alliances[0].won + ' seats'"
      x-style="'background-color:' + $.alliances[0].color + ';width:' + 100 * $.alliances[0].won / $.constituencies.total + '%'"
      x-text="$.alliances[0].won || ''"></div>
    <div class="progress-bar leading"
      x-title="$.alliances[0].name + ' leads in ' + $.alliances[0].leading + ' seats'"
      x-style="'background-color:' + $.alliances[0].color + ';width:' + 100 * $.alliances[0].leading / $.constituencies.total + '%'"
      x-text="$.alliances[0].leading || ''"></div>
    <div class="progress-bar leading" x-style="'background:none;width:' + alliance_progress_gap($, 0) + '%'"></div>

    <div class="progress-bar other"
      x-title="$.alliances[1].name + ' won ' + $.alliances[1].won + ' seats'"
      x-style="'background-color:' + $.alliances[1].color + ';width:' + 100 * $.alliances[1].won / $.constituencies.total + '%'"
      x-text="$.alliances[1].won || ''"></div>
    <div class="progress-bar leading other"
      x-title="$.alliances[1].name + ' leads in ' + $.alliances[1].leading + ' seats'"
      x-style="'background-color:' + $.alliances[1].color + ';width:' + 100 * $.alliances[1].leading / $.constituencies.total + '%'"
      x-text="$.alliances[1].leading || ''"></div>
    <div class="progress-bar leading" x-style="'background:none;width:' + alliance_progress_gap($, 1) + '%'"></div>

    <div class="progress-bar leading"
      x-title="$.alliances[2].name + ' leads in ' + $.alliances[2].leading + ' seats'"
      x-style="'background-color:' + $.alliances[2].color + ';width:' + 100 * $.alliances[2].leading / $.constituencies.total + '%'"
      x-text="$.alliances[2].leading || ''"></div>
    <div class="progress-bar"
      x-title="$.alliances[2].name + ' won ' + $.alliances[2].won + ' seats'"
      x-style="'background-color:' + $.alliances[2].color + ';width:' + 100 * $.alliances[2].won / $.constituencies.total + '%'"
      x-text="$.alliances[2].won || ''"></div>
  </div>

  {% set barheight = 25 %}
  <svg class="alliance-footer" width="100%" height="25">
    <text class="alliance-legend" x-text="$.alliances[0].name + ' won ' + $.alliances[0].won + ', leads in ' + $.alliances[0].leading" y="5" dy="1em"></text>
    <text class="alliance-legend" x-text="$.alliances[2].name + ' won ' + $.alliances[2].won + ', leads in ' + $.alliances[2].leading" y="5" dy="1em" x="100%" text-anchor="end"></text>
    <text class="alliance-legend" x="50%" y="23" text-anchor="middle" x-text="Math.ceil($.constituencies.total / 2) + ' / ' + $.constituencies.total"></text>
    <text x="50%" y="9" font-size="15" text-anchor="middle">&#x25b2;</text>
  </svg>

  <script class="parties onredraw" type="text/html">
    <div class="parties">
      <div class="row">
        {% for id in range(3) %}
          <div class="col-md-4">
            <% if (alliances[{{ id }}].parties.length) { %>
              <table class="table table-condensed party-summary">
                <thead>
                  <tr>
                    <th style="width:50px"><%= alliances[{{ id }}].name %></th>
                    <th style="width:30px">Won</th>
                    <th style="width:30px">Lead</th>
                    <th style="width:30px"></th>
                    <th style="width:100px"><%= alliances[{{ id }}].all %> seats</th>
                  </tr>
                </thead>
                <tbody>
                  <% (alliances[{{ id }}].parties || []).forEach(function(party) { %>
                    <tr>
                      <td><%= party.name %></td>
                      <td><%= party.won %></td>
                      <td><%= party.leading %></td>
                      <td><%= party.all %></td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar"         style="background-color:<%= party.color %>;width:<%= party.won / party_maxall * 100 %>%"></div>
                          <div class="progress-bar leading" style="background-color:<%= party.color %>;width:<%= party.leading / party_maxall * 100 %>%"></div>
                        </div>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            <% } %>
          </div>
        {% end %}
      </div>
    </div>
  </script>

  <div class="counting-progress progress">
    <div class="progress-bar" x-text="$.constituencies.finished + ' declared'"
      x-style="'background-color:{{ _color.brighten(_color.Office[0], -.5) }};width:' + $.constituencies.finished / $.constituencies.total * 100 + '%'"></div>
    <div class="progress-bar" x-text="$.constituencies.counting + ' counting'"
      x-style="'background-color:{{ _color.brighten(_color.Office[0], +.5) }};width:' + $.constituencies.counting / $.constituencies.total * 100 + '%'"></div>
    <div class="progress-bar" x-text="$.constituencies.awaited + ' awaited'"
      x-style="'background:none;color:#000;width:' + $.constituencies.awaited / $.constituencies.total * 100 + '%'"></div>
  </div>

  <script class="state-legend onredraw" type="text/html">
    <svg class="state-legend" width="100%" data-height="{{ 20./940 }}" viewBox="0 0 940 20">
      <% var w = 100. / (_.keys(states).length + 1), i=1 %>
      <rect class="urlfilter state-legend"
        href="?STATE="
        width="<%= w %>%"
        height="20"
        title="Clear State filter"
        fill="#e66"/>
      <text x="<%= .5 * w %>%" y="10" dy=".37em" text-anchor="middle" font-size="12">All</text>
      <% _.each(_.sortBy(states, function(i, state) { return state }), function(state) { %>
        <rect class="urlfilter state-legend"
          href="?STATE=<%= encodeURIComponent(state) %>"
          x="<%= w * i %>%"
          width="<%= w %>%"
          height="20"
          title="<%= state %>"
          fill="<%= q.STATE && q.STATE.indexOf(state) >= 0 ? '#ccf' : '#fff' %>"/>
        <text x="<%= (i + .5) * w %>%" y="10" dy=".37em" text-anchor="middle" font-size="12"><%= (tv ? abbr3 : abbr)[state] %></text>
      <% i++ %>
      <% }) %>
    </svg>
    <svg class="party-legend" width="100%" data-height="{{ 20./940 }}" viewBox="0 0 940 20">
      <% var w = 100. / (filters['2014-Party'].length + 1), i=1 %>
      <rect class="urlfilter party-legend"
        href="?2014-Party="
        width="<%= w %>%"
        height="20"
        title="Clear 2014 Party filter"
        fill="#e66"/>
      <text x="<%= .5 * w %>%" y="10" dy=".37em" text-anchor="middle" font-size="12">X</text>
      <% _.each(_.sortBy(filters['2014-Party'], function(i, party) { return party }), function(party) { %>
        <rect class="urlfilter party-legend"
          href="?2014-Party=<%= encodeURIComponent(party) %>"
          x="<%= w * i %>%"
          width="<%= w %>%"
          height="20"
          title="<%= party %>"
          fill="<%= q['2014-Party'] && q['2014-Party'].indexOf(party) >= 0 ? '#ccf' : '#fff' %>"/>
        <text x="<%= (i + .5) * w %>%" y="10" dy=".37em" text-anchor="middle" font-size="12"><%= party %></text>
      <% i++ %>
      <% }) %>
    </svg>
  </script>

  <div class="row">
    <div class="col-md-8">
      <div class="live-map"></div>
      <script class="live-list" type="text/html">
        <div class="live-list">
          <h2><%= result.length == 1 ? (result[0].PC.PC_NAME + ', ' + result[0].PC.ST_ABBR) : result.length + ' seats / ' + data.map.length %></h2>
          <% _.sortBy(result, function(row) { return row.PC.ST_ABBR + '-' + row.PC.PC_NAME }).forEach(function(row) { %>
            <div class="row seat" data-id="<%= row.ID %>">
              <div class="col-xs-4 right">
                <%= row.PC.PC_NAME %>, <%= row.PC.ST_ABBR %>
                <%        if (row.Status == 'Awaited' ) { %><i title="<%= row.Status %>" class="glyphicon glyphicon-remove"></i>
                <% } else if (row.Status == 'Counting') { %><i title="<%= row.Status %>" class="glyphicon glyphicon-time"></i>
                <% } else if (row.Status == 'Finished') { %><i title="<%= row.Status %>" class="glyphicon glyphicon-ok"></i>
                <% } %>
              </div>
              <div class="col-xs-8">
                <div class="progress">
                  <% _.filter(row.Result, function(v) { return v.votes > 0.01 * row.Total }).slice(0, 6).forEach(function(v) { %>
                    <div class="progress-bar"
                         style="background-color:<%= colors[v.party] || colors.Other %>;width:<%= v['%'] * 100 %>%"
                         title="<%= v.name %> of <%= v.party %> has <%= _comma(v.votes) %> votes"
                    ><%= v.party %> <%= Math.round(100 * v['%']) %>%</div>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </script>
      <script class="seat-result" type="text/html">
        <table class="seat-result table table-condensed">
          <% Result.forEach(function(candi) { %>
            <tr<% if (candi.battle) { %> class="success"<% } %>>
              <td><%= candi.name %></td>
              <td><%= candi.party %></td>
              <td style="background-color:<%= colors[candi.party] || colors.Other %>">&#160;</td>
              <td><%= _comma(candi.votes) %></td>
            </tr>
          <% }) %>
        </table>
      </script>
      <script class="applied_filters onredraw" type="text/html">
        <div class="applied_filters">
          <h2><%= result.length == 1 ? '1 seat' : result.length + ' seats / ' + data.map.length %></h2>
          <% _.each(applied_filters, function(val, key) { %>
            <% var show_val = _.map(val, function(v) { return filter_map[key + ':' + v] || v }), show_key = filter_map[key] || key %>
            <div><a href="?<%= encodeURIComponent(key) %>="
              title="Remove <%= show_key %> filter"
              class="urlfilter label label-danger"
            ><%= show_key %>: <%= show_val.join(', ') %></a></div>
          <% }) %>
        </div>
      </script>
      <script class="consti-result" type="text/html">
        <div class="consti-result">
          <h2><%= pc.PC_NAME %>, <%= pc.ST_ABBR %></h2>
          <table class="table table-condensed">
            <tbody>
              <% for (var i=0, row; row=result[i]; i++) { %>
                <tr>
                  <td><%= row.name %></td>
                  <td style="background-color:<%= colors[row.party] || colors.Other %>">&#160;</td>
                  <td>
                    {% if not tv %}<a class="urlfilter" href="?2014-Party=<%= encodeURIComponent(row.party) %>"><%= row.party %></a>
                    {% else %}<%= row.party %>{% end %}
                  </td>
                  <td><%= _comma(row.votes) %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </script>
      <div style="position:absolute;left:16px;top:0">
        <script class="onredraw" type="text/html">
          <div class="btn-group show-buttons">
            <a class="urlfilter btn btn-default btn-sm <%= !q.show || q.show == ''     ? 'active' : '' %>" href="?show=">Map</a>
            <a class="urlfilter btn btn-default btn-sm <%=  q.show && q.show == 'list' ? 'active' : '' %>" href="?show=list">List</a>
          </div>
          <div class="btn-group color-buttons">
            <a class="urlfilter btn btn-default btn-sm <%= !q.color || q.color != 'party' ? 'active' : '' %>" href="?color=">Alliance</a>
            <a class="urlfilter btn btn-default btn-sm <%=  q.color && q.color == 'party' ? 'active' : '' %>" href="?color=party">Party</a>
          </div>
          <div class="btn-group expand-buttons">
            <a class="urlfilter btn btn-default btn-sm <%= !q.expand ? 'active' : '' %>" href="?expand=">Summary</a>
            <a class="urlfilter btn btn-default btn-sm <%=  q.expand ? 'active' : '' %>" href="?expand=1">Detail</a>
          </div>
        </script>
      </div>
    </div>
    <div class="col-md-4">
      <script class="filters onredraw" type="text/html">
        <div class="filters">
          <h2>Filters
            <% if (_.keys(applied_filters).length > 0) { %>
              <a href="?<%= _.map(applied_filters, function(val, key) { return encodeURIComponent(key) + '=' }).join('&') %>"
                 class="urlfilter label label-danger pull-right"
                 title="Remove all filters">Clear all</a>
            <% } %>
          </h2>
          <% _.each(filters, function(vals, key) { %>
            <% var show_key = filter_map[key] || key %>
            <p class="btn-group filter-<%= key.toLowerCase() %>">
              <a class="urlfilter btn btn-xs <%= key in applied_filters ? 'btn-success active' : 'btn-primary' %>"
                 href="?<%= encodeURIComponent(key) %>="
                 <% if (key in applied_filters) { %> title="Clear filter"<% } %>
              ><%= show_key.replace('-', ' ') %></a>
              <% _.each(vals, function(val) { %>
                <% var match = (key in applied_filters) && (applied_filters[key].indexOf(val) >= 0) %>
                <a class="urlfilter btn btn-xs <%= match ? 'btn-success active' : 'btn-default' %>"
                   data-toggle="toggle"
                   href="?<%= encodeURIComponent(key) %>=<%= encodeURIComponent(val) %>"><%= filter_map[key + ':' + val] || val %></a>
              <% }) %>
            </p>
          <% }) %>
        </div>
      </script>
    </div>
  </div>
</div>

<div class="modal fade" id="no-results">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nothing to show</h4>
      </div>
      <div class="modal-body">
        <p>The combination of filters selected do not match any constituencies.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="back btn btn-default">Go back</button>
        <button type="button" class="clear-filter btn btn-success">Clear all filters</button>
      </div>
    </div>
  </div>
</div>


<script src="{{ static_url('/js/jquery2.min.js') }}"></script>
<script src="{{ static_url('/js/underscore-min.js') }}"></script>
<script src="{{ static_url('/js/bootstrap.v3.min.js') }}"></script>
<script src="{{ static_url('js/G.min.js') }}"></script>
<script>
var last_updated = +(new Date())
var tv = {{ 1 if tv else 0 }}
var colors = {{ DB.csv('colors.csv')[['Name', 'Color']].drop_duplicates().set_index('Name')['Color'].to_json() }}
var data = {{ open('2014-summary.json').read() }}
var pcs = {{ pc.set_index('KEY').astype(str).to_json(orient='index') }}
var abbr = {{ abbr.to_json() }}
var abbr3 = {{ abbr3.to_json() }}
var candidates = []
var states
var filters = {
  '2014-Schedule' : ['07-Apr', '09-Apr', '10-Apr', '11-Apr', '12-Apr', '17-Apr', '24-Apr', '30-Apr', '07-May', '12-May'],
  'Hindi-speaking': ['Hindi', 'Rest'],
  'Bi-polar'      : ['Bi-polar', 'Rest'],
  'Rural'         : ['Rural', 'Semi Urban', 'Urban'],
  'SC'            : ['< 10%', '10-20%', '20-30%', '30%+'],
  'ST'            : ['< 10%', '10-30%', '30-50%', '50%+'],
  'Muslim'        : ['< 10%', '10-20%', '20-40%', '40%+'],
  '2014-Star-Candidate': ['Star'],
  'Key-Battle'    : ['Yes'],
  '2009-Turnout'  : ['< 50%', '50-60%','60-70%', '70-80%', '80%+'],
  '2014-Turnout'  : ['< 50%', '50-60%','60-70%', '70-80%', '80%+'],
  '2009-Party'    : 'CONG BJP ADMK BJD BSP CPM DMK JDU NCP RJD SP SS TDP TMC TRS'.split(/ /),
  '2014-Party'    : 'CONG BJP AAP ADMK BJD BSP CPM DMK JDU MNS NCP RJD SAD SP SS TDP TMC TRS YSRC'.split(/ /),
  '2014-Alliance' : ['NDA', 'UPA', 'OTHER'],
  '2009-Margin'   : ['< 2%', '2-5%', '5-10%', '10-20%', '20%+'],
  '2014-Margin'   : ['< 2%', '2-5%', '5-10%', '10-20%', '20%+'],
  'Swing'         : ['Anti-incumbent', 'Incumbent']
}
var filter_map = {
  'Rural': 'Type',
  'Bi-polar': 'Polarity',
  'Bi-polar:Rest': 'Multi',
  'Hindi-speaking': 'Lang',
  'Hindi-speaking:Rest': 'Non-Hindi',
  '2014-Star-Candidate': 'Star',
  '2014-Star-Candidate:Star': 'Yes'
}

// Refresh PC information based on latest constituency-wise data
var statuses = ['Awaited', 'Counting', 'Finished']
var id_row
function process(data) {
  id_row = {}
  states = {}
  data.result = _.map(data.map, function(v) {
    var candi = candidates[v[0]],
        row = {
          ID:       v[0],
          Party:    v[4] > 0 ? v[1] : '',  // Ignore awaited
          Alliance: v[4] > 0 ? v[2] : '',
          Votes:    v[4] > 0 ? v[3] : 0,
          Status:   statuses[v[4]],
          Result:   v[5],
          PC:       pcs[v[0]],
          Name:     candi && candi[v[6]] ? candi[v[6]][0] : ''
        },
        pc = row.PC,
        battle = 'No',
        result, votes, i, l, total, margin

    // Convert row.Result: votes into sorted {name:, party:, votes:, '%':, 'battle':}
    if (candi) {
      for (result=[], votes=row.Result, total=0, i=0, l=votes.length; i<l; i++) {
        if (candi[i]) {
          if (candi[i][2]) battle = 'Yes'
          result.push({name: candi[i][0], party: candi[i][1], battle: candi[i][2], votes: votes[i]})
          total += votes[i]
        } else {
          result.push({votes: votes[i]})
          console.log('No candidate master', row.ID, i, row.Result.length, candi.length)
        }
      }
      for (i=0, l=votes.length; i<l; i++) {
        result[i]['%'] = votes[i] / total
      }
      row.Result = _.sortBy(result, function(v) { return -v.votes })
      row.Total = total
      if (row.Result.length > 1) margin = (row.Result[0].votes - row.Result[1].votes) / total
    }

    // Update pcs for filtering
    pc['Key-Battle'] = battle
    pc['KEY'] = row.ID
    pc['2014-Party'] = row.Party
    pc['2014-Alliance'] = row.Alliance
    pc['Status'] = row.Status
    pc['Swing'] = row.Party != pc['2009-Party'] ? 'Anti-incumbent' : 'Incumbent'
    pc['2014-Margin'] = margin < 0.02 ? '< 2%' :
                        margin < 0.05 ? '2-5%' :
                        margin < 0.10 ? '5-10%' :
                        margin < 0.20 ? '10-20%' : '20%+'
    id_row[row.ID] = row

    // Update states
    states[pc.STATE] = pc.STATE

    return row
  })
}
process(data)

// Load the map and store map_path['S01-01'] -> $path element
var map_path = {}
$('.live-map')
  .html('<br><h1>Loading constituency map...</h1>')
  .load('{{ static_url('pc-2014-4.svg') }}', function() {
    $('.live-map svg')
      .find('path')
        .attr('class', 'na')
        .each(function() {
          var $this = $(this)
          map_path[$this.attr('id')] = $this
        })
    redraw()
  })

// Load candidates' names
$.ajax({
  url: '2014-candidates.json',
  dataType: 'json',
  success: function(candidates) {
    window.candidates = candidates
    process(window.data)
    redraw()
  }
})

// Live rendering via x-attributes
var expr = []
$('.expressions')
  .find('*')
  .each(function() {
    var $el = $(this),
        xnames = []
    $.each(this.attributes, function() {
      if (this.name.match(/^x\-/)) {
        var attr = this.name.slice(2),
            calc = new Function('$', 'return ' + this.value),
            fn
        if (attr == 'text') fn = function(data) { return $el.text(calc(data)) }
        else if (attr == 'html') fn = function(data) { return $el.html(calc(data)) }
        else fn = function(data) { return $el.attr(attr, calc(data)) }
        expr.push(fn)
        xnames.push(this.name)
      }
    })
    $el.removeAttr(xnames.join(' '))
  })

// Used by .alliance-progress
function alliance_progress_gap(data, id) {
  var left = data.alliances[0].all  / data.constituencies.total,
      mid = data.alliances[1].all / data.constituencies.total,
      right = 1 - data.alliances[2].all  / data.constituencies.total,
      start = Math.max(left, .5 - mid / 2) ,
      end = start + mid
  return 100 * (id == 0 ? start - left : right - end)
}

// Filter based on query parameters
var _sort = function (dict) { return _.sortBy(_.values(dict), function(v) { return -v.all }) }
var _comma = function(x) { return (x || '').toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }
function filter(data, q) {
  var result = [],
      status = {finished:0, counting:0, awaited:0, total:0},
      applied_filters = {},
      filters = [],
      alliances = {
        NDA:   { won:0, leading:0, all:0, name:'NDA',   color: colors.NDA  , parties:{} },
        UPA:   { won:0, leading:0, all:0, name:'UPA',   color: colors.UPA  , parties:{} },
        OTHER: { won:0, leading:0, all:0, name:'OTHER', color: colors.Other, parties:{} }
      },
      alliance, party, row, i, match

  _.each(q, function(val, key) {
    if (key in pcs['S01-1'] || key.match(/^(Party|Alliance|Status)$/)) {
      filters.push(function(pc) { return val.indexOf(pc[key]) >= 0 })
      applied_filters[key] = val
    }
  })

  for (i=0, row; row=data.result[i]; i++) {
    match = _.every(filters, function(fn) { return fn(row.PC) })
    if (!match) continue

    result.push(row)
    status.total++
    if (row.Status == 'Awaited') {
      status.awaited++
    } else {
      alliance = alliances[row.Alliance]
      party = alliance.parties[row.Party] = alliance.parties[row.Party] || { won:0, leading:0, all:0, name:row.Party, color: colors[row.Party] || colors['Other'] }
      if      (row.Status == 'Counting') { status.counting++; alliance.leading++; party.leading++; alliance.all++; party.all++; }
      else if (row.Status == 'Finished') { status.finished++; alliance.won++    ; party.won++    ; alliance.all++; party.all++; }
    }
  }
  _.each(alliances, function(a) { a.parties = _sort(a.parties).slice(0, 5) })

  return result.length == 0 ? null : {
      alliances: alliances.NDA.all > alliances.UPA.all ? [alliances.NDA, alliances.OTHER, alliances.UPA] : [alliances.UPA, alliances.OTHER, alliances.NDA],
      party_maxall: _.max(_.map(alliances, function(a) { return _.max(_.pluck(a.parties, 'all')) } )),
      constituencies: status,
      applied_filters: applied_filters,
      q: q,
      result: result
    }
}

function redraw() {
  $('.tooltip').remove()
  var q = G.url.parse(location.href).searchList,
      subset = filter(data, q),
      list, single_key

  $('.consti-result').hide()
  $('#no-results').modal('hide')
  _.each(map_path, function(val, key) { val.data('drawn', false) })
  if (subset) {
    // If single key, just show the results
    if (single_key) {
      $('body').addClass('single-key')
      list = 'list'
    } else {
      $('body').removeClass('single-key')
    }

    list = q.show && q.show == 'list'
    single_key = 'KEY' in subset.applied_filters

    subset.filters = filters
    $('script.onredraw').template(subset)
    expr.forEach(function(x) { x(subset) })

    var color_by = (q.color && q.color[0] == 'party') ? 'Party' : 'Alliance'
    if (list) {
      $('script.live-list').template(subset).add('.expand-buttons').show()
      $('.live-map, .consti-result, .applied_filters, .color-buttons').hide()
    } else {
      subset.result.forEach(function(row) {
        var path
        if (row.ID in map_path) {
          path = map_path[row.ID].data('drawn', true)
          if (row.Status == 'Awaited') {
            path.attr('class', 'na')
          } else if (row.Status == 'Counting') {
            path
              .attr('class', 'leading')
              .attr('fill', colors[row[color_by]] || '#a0a0a0')
              .attr('title', row.Name + ': ' + row.Party + ' (' + row.Alliance + ') is leading at ' + row.PC.PC_NAME + ' with ' + _comma(row.Votes) + ' votes')
          } else if (row.Status == 'Finished') {
            path
              .attr('class', '')
              .attr('fill', colors[row[color_by]] || '#a0a0a0')
              .attr('title', row.Name + ': ' + row.Party + ' (' + row.Alliance + ') won at ' + row.PC.PC_NAME + ' with ' + _comma(row.Votes) + ' votes')
          }
        }
      })
      $('.live-list, .expand-buttons').hide()
      $('.live-map, .color-buttons').show()
    }
    $(window).trigger('resize')
  } else {
    $('#no-results').modal({show: true})
  }
  _.each(map_path, function(val, key) {
    if (!val.data('drawn'))
      val.attr('class', 'na')
  })

  if (single_key || q.expand) {
    $('.live-list .seat').slice(0, 20).trigger('click')
  }

}
redraw()

function reload() {
  $.ajax({
    url: '2014-summary.json',
    dataType: 'json',
    cache: false,
    success: function(data) {
      window.data = data
      window.last_updated = +(new Date())
      process(data)
      redraw()
    },
    error: function() { console.log('error', arguments) },
    complete: function() {
      {# ?refresh=5 for 5 minute auto-refresh #}
      {% if 'refresh' in args %}
        setTimeout(reload, {{ min(1, float(args['refresh'][0])) * 60000 }})
      {% end %}
    }
  })
}

{% if 'refresh' in args %}
  setTimeout(reload, {{ min(1, float(args['refresh'][0])) * 60000 }})
{% end %}

var seat_result_template = _.template($('script.seat-result').html())

$('body')
  .tooltip({
    selector: '[title]',
    html: true,
    container: 'body'
  })
  .aspect({
    selector: '[data-height]'
  })
  .urlfilter({
    selector: '.urlfilter',
    target: 'pushState'
  })
  .on('click', '.reload', function(e) {
    e.preventDefault()
    reload()
  })
  .on('loaded.g.urlfilter', function() {
    $(this).removeClass('first-time')
    redraw()
  })
  .on('click', '.back', function() { history.back(); $('#no-results').modal('hide') })
  .on('click', '.clear-filter', function() { history.pushState({}, '', 'live'); $('#no-results').modal('hide'); redraw() })
  .on('click', '#no-results .btn', function() { $('.alert').hide() })
  .on('click', '.live-map path', function(e) {
    var id = $(this).attr('id'),
        candi = candidates[id],
        row = id_row[id]
    if (candi && row) {
      $('script.consti-result').template({pc: pcs[id], result: _.filter(row.Result, function(v) { return v.votes }).slice(0, 5)}).show()
      e.stopPropagation()
    }
  })
  .on('click', '.live-map', function(e) {
    $('.consti-result').hide()
  })
  .on('click', '.seat', function(e) {
    var $this = $(this),
        $next = $this.next(),
        pc
    $this.toggleClass('expanded')
    if ($next.is('.seat-result'))
      $next.remove()
    else {
      pc = id_row[$(this).data('id')]
      $this.after(seat_result_template(pc))
    }
  })
  .on('click', '.seat-result', function(e) {
    $(this).remove()
  })

var $last_updated = $('.last-updated')
function last_updated_refresh() {
  var ms = +(new Date()) - last_updated
  $last_updated.text(Math.round(ms / 60000) + ' min ago')
}
setInterval(last_updated_refresh, 30 * 1000)
last_updated_refresh()

$(window)
  .on('popstate', redraw)

</script>

{% end %}{# if countdown #}

{{ T('.tail.html', appstyle=appstyle) }}
</body></html>{#


Note about the filter() function.
---------------------------------
The output has the following structure
{
  q: url_parameters,
  party_maxall: 86,     // Max won+leading across all parties
  constituencies: {
    awaited: 34,
    counting: 200,
    finished: 300,
    total: 534
  },
  alliances: [
      {
        "won":79,"leading":20,"all":99,"name":"UPA","color":"#2EA7FF",
        "parties":[
          {"won":72,"leading":17,"all":89,"name":"INC","color":"#2EA7FF"},
          {"won": 6,"leading": 2,"all": 8,"name":"NCP","color":"#2E3EEB"},
          ...
        ]
      },
      ...
  ],
  applied_filters: {
    key: [val1, val2, ...],
    ...
  },
  result: [
      {ID:..., Party:..., Alliance:..., Votes:..., Status:..., PC:..., Total:..., Result: [{name:..., party:..., votes:...}]]
  ]
}
#}
