{{ GRAMEX(cache=['js/G.min.js', 'style.css', 'parliament.csv', '.head.html', '.tail.html', 'img/loading.gif'], max_age=10*60) }}{% code %}
title = 'Parliament Elections'
description = 'A visual guide to the history of Indian Parliament elections, from 1951 until today, by Gramener.'

import json
from urllib import quote
from common import pc_setup, slug, metric_names, NONE_COLOR
data, elections = DB.csv('parliament.csv', setup=pc_setup, dtype=object)

years = sorted(data['YEAR'].unique())
tv = args.get('tv')
colors = _color.distinct(10)

# Set style to the IBN style, which has a header, based on hostname.
# http://ibnlive.in.com/general-elections-2014/analytics/ will point here
appstyle = 'ibn' if 'ibnlive' in handler.request.host else ''
uri = handler.request.uri

# Allow ?style= to override the hostname-based style
appstyle = args.get('style', [appstyle])[0]
{% end %}<!DOCTYPE html><html lang="en">
<head>
  {{ T('.head.html', title=title, static_url=static_url, description=description, tv=tv, appstyle=appstyle,uri=uri) }}
  <link rel="stylesheet" href="js/bootstro.css" type="text/css"/>
</head><body{% if tv %} class="tv"{% end %}>

{% if appstyle and os.path.exists('header.' + appstyle + '.html') %}
  {{ T('header.' + appstyle + '.html') }}
{% end %}
<nav class="navbar navbar-default{% if tv %} navbar-fixed-top{% end %}" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand heading direct-link" href="#">
        <i class="glyphicon glyphicon-home"></i>
        <span class="em">Parliament</span> Elections<span class="title"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="header-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown state-page-filter" title="Select state" data-placement="right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-state">State</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu multicolumn" role="menu">
            <li data-state=""><a class="direct-link" href="#">All states</a></li>
            {% for s in sorted(data['STATE'].unique()) %}
              <li data-state="{{ s }}"><a href="state?STATE={{ quote(s) }}">{{ s.title().replace('Nct Of Delhi', 'NCT of Delhi') }}</a></li>
            {% end %}
          </ul>
        </li>
        <li class="dropdown state-filter" title="Select state" data-placement="right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-state">State</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu multicolumn" role="menu">
            <li data-state=""><a href="?STATE=">All states</a></li>
            {% for s in sorted(data['STATE'].unique()) %}
              <li data-state="{{ s }}"><a href="?STATE={{ quote(s) }}">{{ s.title().replace('Nct Of Delhi', 'NCT of Delhi') }}</a></li>
            {% end %}
          </ul>
        </li>
        <li class="dropdown years-filter" title="Select years" data-placement="right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-years">Years</span> <span class="caret"></span>
          </a>
          <form class="dropdown-menu years" role="menu">
            {% for y in years %}
              <label>
                <input type="checkbox" name="Y" value="{{ y }}"{{ ' checked' if y in args.get('Y', []) else '' }}> {{ y }}
              </label>
            {% end %}
            <p>
              <button class="btn btn-primary" type="submit">Submit</button>
              <button class="btn btn-default no-years" type="button">All years</button>
            </p>
          </form>
        </li>
        <li class="dropdown year-filter" title="Select year" data-placement="right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-year">Year</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li data-year=""><a href="?YEAR=">All years</a></li>
            {% for y in years %}
              <li data-year="{{ y }}"><a href="?BY=&YEAR={{ y }}">{{ y }} results</a></li>
            {% end %}
          </ul>
        </li>
        <li class="btn-group metric-filter" title="View by" data-placement="right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="current-metric">{{ metric_names.values()[-1] }}</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for v in metric_names %}
              <li data-year="{{ v }}"><a href="?BY=&METRIC={{ quote(v) }}">{{ metric_names[v] }}</a></li>
            {% end %}
          </ul>
        </li>
        <!--<li style="padding-top:0.7em;padding-left:1em">
          <div id="helpbutton" class="btn btn-success">Help Guide</div>
        </li>-->
        <form class="navbar-form navbar-left search-filter">
          <input type="search" class="form-control" placeholder="Search Your Constituency" data-search="title" data-target="circle" data-hide-class="hide">
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown shortcut-filter" title="Shortcuts" data-placement="left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Go to <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="direct-link" href="#cartogram?BY=2014-Schedule">2014 Schedule</a></li>
            <li><a class="direct-link" href="#cartogram?BY=2014-Star-Candidate">2014 Stars</a></li>
            <li><a class="direct-link" href="#cartogram?BY=2014-Turnout">2014 Turnout</a></li>
            <li><a class="direct-link" href="#cartogram?YEAR=2009">2009 Results</a></li>
          </ul>
        </li>
        <li><a class="reload" href="#" title="Refresh" data-placement="bottom"><i class="glyphicon glyphicon-refresh"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div id="summary" data-bootstro-placement="right" data-bootstro-title="Party Stack bar" data-bootstro-content="Click on any bar to go to the cartogram view. Filter party wise by clicking on horizontal buttons.">
    <img class="loading" src="{{ static_url('img/loading.gif') }}">
  </div>

  <div id="result">
    <img class="loading" src="{{ static_url('img/loading.gif') }}">
  </div>

  <div class="result-controls clearfix">
    <div class="pull-right">
      Show:
      <div class="btn-group">
        <a class="btn btn-default" href="?n=10">10</a>
        <a class="btn btn-default" href="?n=20">20</a>
        <a class="btn btn-default" href="?n=50">50</a>
        <a class="btn btn-default" href="?n=500">500</a>
      </div>
    </div>
  </div>

  <footer>
    Powered by <a href="https://gramener.com/">Gramener.com</a>
  </footer>
</div>

<script>
{{ T('js/helper.js') }}

MBP.scaleFix()
MBP.startupImage()
MBP.hideUrlBarOnLoad()
MBP.enableActive()


if (window.FastClick)
  window.addEventListener('load', function() { FastClick.attach(document.body); }, false);

{{ T('js/jquery2.min.js') }}
{{ T('js/bootstrap.v3.min.js') }}
{{ T('js/G.min.js') }}
{{ T('js/jquery.scrollTo.min.js') }}
{{ T('js/d3.v3.min.js') }}
{{ T('js/bootstro.js') }}

var years = {{ json.dumps(years) }},
    metric_names = {{ json.dumps(metric_names) }},
    on_highlight = function(e) {},
    DB = sessionStorage,
    get_hash = function() { return location.href.split("#")[1] || '' }

//$('#helpbutton').on('click', function() {
//  bootstro.start("#summary");
//});

$('body')
  .tooltip({
    selector: '[title]',
    container: 'body',
    html: true
  })
  .urlfilter({
    selector: '[href]:not(.direct-link):not(.dropdown-toggle)',
    target: '#'
  })
  .highlight({
    selector: '.party-legend',
    target: '[data-party]'
  })
  .search()
  .on('shown.g.highlight', function(e) {
    window.on_highlight(e)
    if ($('.party-legend').length) {
      DB.groups = e.selected.map(function() { return $(this).data('party') }).get().join(',')
    }
  })
  .aspect({
    selector: '[data-height]'
  })
  .on('click', '.home', function() {
    location.hash = '#'
  })
  .on('click', '.back', function() {
    history.back()
  })
  .on('click', '.reload', function(e) {
    e.preventDefault()
    location.reload(true)
  })
  .on('click', '.party-unhighlight', function() {
    $(this).trigger('clear.g.highlight')
  })
  .on('click', 'form.dropdown-menu', function(e) {
    e.stopPropagation()
  })
  .on('submit', '.years', function(e) {
    e.preventDefault()
    var hash = get_hash(),
        q = G.url.parse(hash)
        query = q.searchKey;
    if (q.pathname.match(/state/)) {
      q.update({Y: $('input:checked').map(function() { return $(this).attr('value') }).get() })
      location.hash = q.toString()
    } else {
      location.hash = '?' + $(this).serialize()
    }
    $('.current-years').trigger('click')
  })
  .on('click', 'a.heading', function(e) {
    if (!get_hash()) {
      e.preventDefault()
      location = '.'
    }
  })
  .on('click', '.no-years', function(e) {
    var $form = $(this).parents('form')
    $form.find('input[type="checkbox"]').prop('checked', false)
    $form.trigger('submit')
  })
  .on('keyup', function(e) {
    var hash = get_hash(),
        match = hash.match(/YEAR=(\d+)/),
        index
    if ($(e.target).is('body') && match && !e.altKey && !e.ctrlKey && !e.shiftKey) {
      index = years.indexOf(match[1])
      if (e.keyCode == 37 && index > 0) {
        location.hash = hash.replace(/YEAR=\d+/, 'YEAR=' + years[index - 1])
      } else if (e.keyCode == 39 && index < years.length - 1) {
        location.hash = hash.replace(/YEAR=\d+/, 'YEAR=' + years[index + 1])
      }
    }
  })

function highlight_groups() {
  // Based on pased highlighting, preserve party highlights
  var groups = (DB.groups || '').split(','),
      legends = $('.party-legend').map(function() {
        var $this = $(this)
        return {node: $this, group: $this.data('party')}
      }).get(),
      i = 0,
      legend
  $('body').trigger('clear.g.highlight')
  for (; legend = legends[i]; i++) {
    if (groups.indexOf(legend.group) >= 0) {
      legend.node.trigger('click')
    }
  }
}

function redraw() {
  var hash = get_hash(),
      q = G.url.parse(hash),
      query = q.searchKey;

  if (q.pathname.match(/^(summary|year|result|cartogram|table|scatter|state|pattern|facts|voteshare)$|^story/)) {
    $('#summary').slideUp(250)
    $('.year-filter')[q.pathname.match(/scatter|state|pattern|facts|story|voteshare/) ? 'hide' : 'show']()
    $('.years-filter')[q.pathname.match(/state/) ? 'show' : 'hide']()
    $('.result-controls')[q.pathname.match(/cartogram|scatter|state|facts|story|voteshare/) ? 'hide' : 'show']()
    $('.state-filter')[q.pathname.match(/result|pattern|facts|story/) ? 'hide' : 'show']()
    $('.search-filter')[q.pathname.match(/cartogram/) ? 'show' : 'hide']()
    $('.metric-filter')[q.pathname.match(/cartogram/) ? 'show' : 'hide']()
    $('.state-page-filter')[q.pathname.match(/result/) ? 'show' : 'hide']()
    $('#result').append('<img class="loading" src="{{ static_url('img/loading.gif') }}">').load('pc-' + hash, function() {
      if (q.pathname.match(/cartogram|scatter|state|result|voteshare/)) {
        $(window).dispatch('resize')
        $('input[type="search"]').val('').trigger('refresh')
        $('#summary').slideUp(250)
      }
      $('.tooltip').remove()
      highlight_groups()
    }).show()
  } else {
    $('#result, .result-controls, .year-filter, .state-filter, .search-filter, .metric-filter').hide()
    $('.years-filter, .state-page-filter').show()
    $('#summary').append('<img class="loading" src="{{ static_url('img/loading.gif') }}">').load('pc-index' + hash, function() {
      $('#summary').show()
      $(window).dispatch('resize')
      $('.tooltip').remove()
      DB.groups = ''
    })
  }


  // Set the filters
  $('.current-year').text(query.YEAR || 'Year')
  $('.current-metric').text(metric_names[query.METRIC] || '{{ metric_names.values()[-1] }}')
  $('.current-state').text(query.STATE || 'State')
  $('.years-filter input[type="checkbox"]').each(function() {
    var $this = $(this),
        years = q.searchKey.Y || []
    if (years.indexOf($(this).val()) >= 0) $this.prop('checked', true)
  })

  $('.active[data-year]').removeClass('active')
  $('.active[data-metric]').removeClass('active')
  $('.active[data-state]').removeClass('active')

  $('[data-year="' + query.YEAR + '"]').addClass('active')
  $('[data-metric="' + query.METRIC + '"]').addClass('active')
  $('[data-state="' + query.STATE + '"]').addClass('active')
}

$(window).on('hashchange', redraw);
redraw();

</script>

{{ T('.tail.html', appstyle=appstyle) }}
</body></html>
