{{ GRAMEX(cache=['js/G.min.js', 'style.css', 'parliament.csv', 'parliament-topics.csv', '.head.html']) }}{% code %}
title = 'Parliament Elections'
description = 'A visual guide to the history of Indian Parliament elections, from 1951 until today, by Gramener.'

from urllib import quote
from common import pc_setup
data, elections = DB.csv('parliament.csv', setup=pc_setup, dtype=object)
topics = pd.read_csv('parliament-topics.csv')
{% end %}<!DOCTYPE html><html lang="en">
<head>
  {{ T('.head.html', title=title, static_url=static_url, description=description) }}
</head><body>

<header>
  <div class="container">
    <h1>
      <a href="." class="home direct-link"><i class="glyphicon glyphicon-home"></i></a>
      <span class="heading">
        <span class="em">Parliament</span> Elections<span class="title"></span>
        <small>in India</small>
      </span>

      <div class="pull-right">

        <div class="btn-group year-filter">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="current-year">Year</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li data-year=""><a href="?YEAR=">All years</a></li>
            {% for y in sorted(data['YEAR'].unique()) %}
              <li data-year="{{ y }}"><a href="?YEAR={{ y }}">{{ y }}</a></li>
            {% end %}
          </ul>
        </div>

        <div class="btn-group state-filter">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="current-state">State</span> <span class="caret"></span>
          </button>
          <div class="dropdown-menu pull-right multicolumn" role="menu">
            <li data-state=""><a href="?STATE=">All states</a></li>
            {% for s in sorted(data['STATE'].unique()) %}
              <li data-state="{{ s }}"><a href="?STATE={{ quote(s) }}">{{ s.title() }}</a></li>
            {% end %}
          </div>
        </div>

        <div class="btn btn-default back"><i class="glyphicon glyphicon-arrow-left"></i> Back</div>
      </div>
    </h1>
  </div>
</header>

<div class="container">
  <div id="factoid">
    {% for i, row in topics.iterrows() %}
      <div class="topic" href="{{ row['link'] }}">
        <div class="thumbnail">
          <div class="img" style="background-image:url({{ static_url(row['image']) }})"></div>
          <div class="caption">
            <h3>{{ row['title'] }}</h3>
            <p>{{ markdown(row['content']) }}</p>
          </div>
        </div>
      </div>
    {% end %}
  </div>

  <div id="result"></div>
</div>

<script>
{{ T('js/helper.js') }}

MBP.scaleFix()
MBP.startupImage()
MBP.hideUrlBarOnLoad()
MBP.enableActive()

// TODO: Add FastClick
if (window.FastClick)
  window.addEventListener('load', function() { FastClick.attach(document.body); }, false);

{{ T('js/jquery2.min.js') }}
{{ T('js/bootstrap.v3.min.js') }}
{{ T('js/G.min.js') }}
{{ T('js/jquery.scrollTo.min.js') }}

$('body')
  .urlfilter({
    selector: '[href]:not(.direct-link)',
    target: '#'
  })

$('.back').on('click', function() { history.go(-1) })
$('.home').on('click', function() { location.hash = '#' })

function redraw() {
  var hash = location.hash.replace(/^#/, ''),
      query = G.url.parse(hash).searchKey;

  if (hash == '') {
    $('#result, .year-filter, .state-filter').hide()
    $('#factoid').show()
  } else {
    $('#factoid').hide()
    $('.year-filter').show()
    $('.state-filter')[hash.match(/^summary/) ? 'show' : 'hide']()
    $('#result').empty().load('pc-' + hash).show()
  }

  // Set the filters
  $('.current-year').text(query.YEAR || 'Year')
  $('.current-state').text(query.STATE || 'State')

  $('.active[data-year]').removeClass('active')
  $('.active[data-state]').removeClass('active')

  $('[data-year="' + query.YEAR + '"]').addClass('active')
  $('[data-state="' + query.STATE + '"]').addClass('active')

}

$(window).on('hashchange', redraw);
redraw();

</script>

</body></html>
