{{ GRAMEX(cache=['js/G.min.js', 'style.css', 'parliament.csv', 'parliament-topics.csv', 'colors.csv', '.head.html']) }}{% code %}
title = 'Parliament Elections'
description = 'A visual guide to the history of Indian Parliament elections, from 1951 until today, by Gramener.'

from urllib import quote
from common import pc_setup, slug
data, elections = DB.csv('parliament.csv', setup=pc_setup, dtype=object)
topics = pd.read_csv('parliament-topics.csv')
party_colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color'].ix['PARTY']

winners = data[data['#'] == '1']

# These elections had very few seats. Merge them with the previous year
winners['YEAR'].replace({
  '1985': '1980',
  '1992': '1991',
}, inplace=True)

parties = ['INC', 'BJP', 'CPM', 'JNP', 'JD', 'IND', 'CPI', 'DMK', 'SP', 'TDP', 'SWA', 'BJS', 'BSP', 'ADMK']
summary = winners.pivot_table(cols='PARTY', rows='YEAR', values='NAME', aggfunc='count').fillna(0)
seats = summary.T.sum()
summary = summary[parties]
summary['Rest'] = seats - summary.T.sum()
{% end %}<!DOCTYPE html><html lang="en">
<head>
  {{ T('.head.html', title=title, static_url=static_url, description=description) }}
</head><body>

<header>
  <div class="container">
    <h1>
      <a href="." class="home direct-link"><i class="glyphicon glyphicon-home"></i></a>
      <span class="heading">
        <span class="em">Parliament</span> Elections<span class="title"></span>
        <small>in India</small>
      </span>

      <div class="pull-right">

        <div class="btn-group year-filter">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="current-year">Year</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li data-year=""><a href="?YEAR=">All years</a></li>
            {% for y in sorted(data['YEAR'].unique()) %}
              <li data-year="{{ y }}"><a href="?YEAR={{ y }}">{{ y }}</a></li>
            {% end %}
          </ul>
        </div>

        <div class="btn-group state-filter">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="current-state">State</span> <span class="caret"></span>
          </button>
          <div class="dropdown-menu pull-right multicolumn" role="menu">
            <li data-state=""><a href="?STATE=">All states</a></li>
            {% for s in sorted(data['STATE'].unique()) %}
              <li data-state="{{ s }}"><a href="?STATE={{ quote(s) }}">{{ s.title() }}</a></li>
            {% end %}
          </div>
        </div>

      </div>
    </h1>
  </div>
</header>

<div class="container">

  {% set W, H = 940, 500 %}
  <svg id="summary" width="100%" data-height="{{ float(H)/W }}" viewBox="0 0 {{ W }} {{ H }}">
    {% set w, pad, legend = 940. / len(parties), 5, 25 %}
    {% for i, party in enumerate(parties) %}
      <rect class="party-legend"
        data-party="{{ slug(party) }}"
        data-highlight="[data-party={{ slug(party) }}]"
        data-toggle="highlight"
        x="{{ w * i }}"
        width="{{ w }}"
        height="{{ legend - 5 }}"
        fill="{{ party_colors.get(party, '#999') }}"></rect>
      <text x="{{ w * (i + .5) }}" y="{{ (legend - 5) * .5 }}" text-anchor="middle" dy=".35em" fill="#fff">{{ party }}</text>
    {% end %}

    {% set w = 940. / len(summary.T.columns) %}
    {% for i, year in enumerate(summary.T) %}{% code %}
      series = summary.ix[year]
      height = series / float(series.sum()) * (H - legend - 20)
      pos = pd.DataFrame({
        'SEATS': series,
        'h': height,
        'y': H - height.cumsum()
      })
      {% end %}
      <text x="{{ w * (i+.5) }}" y="{{ legend }}" dy="1em" text-anchor="middle">{{ year }}</text>
      {% for party, row in pos.iterrows() %}
        {% set fill = party_colors.get(party, '#999') %}
        <rect x="{{ w * i + pad }}" width="{{ w - 2*pad }}" y="{{ row['y'] }}" height="{{ row['h'] }}"
          data-party="{{ slug(party) }}"
          title="{{ party }}: {{ int(row['SEATS']) }} seats in {{ year }}"
          fill="{{ fill }}" stroke="#fff"/>
        {% if row['h'] > 40 %}
          <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
            data-party="{{ slug(party) }}"
            fill="#fff" dy="-.6em" text-anchor="middle">{{ int(row['SEATS']) }}</text>
          <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
            data-party="{{ slug(party) }}"
            fill="#fff" dy=".6em" text-anchor="middle">{{ escape(party) }}</text>
        {% elif row['h'] > 12 %}
          <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
            data-party="{{ slug(party) }}"
            fill="#fff" dy=".35em" text-anchor="middle">{{ int(row['SEATS']) }}</text>
        {% end %}
      {% end %}
    {% end %}

  </svg>

  <div id="factoid">
    {% for i, row in topics.iterrows() %}
      <div class="topic" href="{{ row['link'] }}">
        <div class="thumbnail">
          <div class="img" style="background-image:url({{ static_url(row['image']) }})"></div>
          <div class="caption">
            <h3>{{ row['title'] }}</h3>
            <p>{{ markdown(row['content']) }}</p>
          </div>
        </div>
      </div>
    {% end %}
  </div>

  <div id="result-controls">
    <div class="pull-right">
      Show:
      <div class="btn-group">
        <a class="btn btn-default" href="?n=10">10</a>
        <a class="btn btn-default" href="?n=20">20</a>
        <a class="btn btn-default" href="?n=50">50</a>
      </div>
    </div>
    <a class="btn btn-default back direct-link" href="#"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
  </div>
  <div id="result"></div>
</div>

<script>
{{ T('js/helper.js') }}

MBP.scaleFix()
MBP.startupImage()
MBP.hideUrlBarOnLoad()
MBP.enableActive()

// TODO: Add FastClick
if (window.FastClick)
  window.addEventListener('load', function() { FastClick.attach(document.body); }, false);

{{ T('js/jquery2.min.js') }}
{{ T('js/bootstrap.v3.min.js') }}
{{ T('js/G.min.js') }}
{{ T('js/jquery.scrollTo.min.js') }}

$('body')
  .tooltip({
    selector: '[title]',
    container: 'body',
    html: true
  })
  .urlfilter({
    selector: '[href]:not(.direct-link)',
    target: '#'
  })
  .highlight({
    selector: '.party-legend',
    target: '[data-party]'
  })
  .aspect({
    selector: '[data-height]'
  })

$('.home').on('click', function() { location.hash = '#' })

function redraw() {
  var hash = location.hash.replace(/^#/, ''),
      query = G.url.parse(hash).searchKey;

  if (hash == '') {
    $('#result, #result-controls, .year-filter, .state-filter').hide()
    $('#summary, #factoid').slideDown(250, function() {
      $(window).dispatch('resize')
    })
  } else {
    $('#summary, #factoid').slideUp(250)
    $('#result-controls, .year-filter').show()
    $('.state-filter')[hash.match(/^summary/) ? 'show' : 'hide']()
    $('#result').empty().load('pc-' + hash).show()
  }

  // Set the filters
  $('.current-year').text(query.YEAR || 'Year')
  $('.current-state').text(query.STATE || 'State')

  $('.active[data-year]').removeClass('active')
  $('.active[data-state]').removeClass('active')

  $('[data-year="' + query.YEAR + '"]').addClass('active')
  $('[data-state="' + query.STATE + '"]').addClass('active')
}

$(window).on('hashchange', redraw);
redraw();

</script>

</body></html>
