{{ GRAMEX(cache=['parliament.csv', 'pc.csv', 'pc-latlong.csv', 'colors.csv'], max_age=10*60) }}{% code %}
title = 'Lok Sabha elections cartogram'

import json
from urllib import quote
from common import pc_setup, slug, metric_names

groupbys = ['PARTY', '2014 Schedule', '2014 Star Candidate']

data, elections = DB.csv('parliament.csv', setup=pc_setup, dtype=object)
latlong = DB.csv('pc-latlong.csv').set_index(['STATE', 'PC'])
groupby = args.get('BY', ['PARTY'])[0]
colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color']

winners = data[data['#'] == '1']
elections['CONSTANT'] = 1
metric = 'CONSTANT' if groupby.startswith('2014') else args.get('METRIC', ['CONSTANT'])[0]

# Add constituency related metrics
constituencies = DB.csv('pc.csv')
constituencies['YEAR'] = '2009'
constituencies = constituencies.set_index(['YEAR', 'STATE', 'PC'])
elections['2014 Schedule'] = constituencies['2014 Schedule']
elections['2014 Star Candidate'] = constituencies['2014 Star Candidate']

years = sorted(data['YEAR'].unique())
year = '2009' if groupby.startswith('2014') else args.get('YEAR', years)[-1]
year_index = years.index(year)
prev_year = years[year_index - 1] if year_index > 0 else None
next_year = years[year_index + 1] if year_index < len(years) - 1 else None

pivot = elections.ix[year][[groupby, 'WINNER', metric]]
win_count = pivot[groupby].value_counts()
max_wins = float(max(win_count))

W, H = 940, 700
bar_height = 40
top_groups = win_count.head(min(20, H // bar_height))

if groupby in colors.index:
    colors = colors.ix[groupby]
else:
    colors = pd.Series(dict(zip(top_groups.index, _color.distinct(20 if len(top_groups) > 10 else 10))))

{% end %}
<svg id="carto-legend" width="100%" data-height="{{ 25. / W }}" viewBox ="0 -25 {{ W }} 25">
  <rect y="-25" width="30" height="30" class="party-unhighlight" fill="#000" title="Show all {{ groupby }}"/>
  <text x="15" y="-12" text-anchor="middle" dy=".35em" fill="#fff">x</text>
  {% set w = (W - 30) / float(len(top_groups)) %}
  {% for i, (group, wins) in enumerate(top_groups.iteritems()) %}
    <rect class="party-legend"
      data-highlight="[data-party={{ slug(group) }}]"
      data-party="{{ slug(group) }}"
      data-toggle="1"
      x="{{ 30 + w * i }}"
      y="-25"
      width="{{ w }}"
      height="30"
      fill="{{ colors.get(group, '#ccc') }}"></rect>
    <text x="{{ 30 + w * (i + .5) }}" y="-12" text-anchor="middle" dy=".35em" fill="#fff">{{ group }}</text>
  {% end %}
</svg>
<svg id="carto" width="100%" data-height="{{ float(H) / W }}" viewBox ="0 0 {{ W }} {{ H }}">
  <g id="carto-contents">
    <image x="-170" y="-5" width="{{ W }}" height="{{ H - 10 }}" xlink:href="{{ static_url('img/india-states.png') }}"></image>
    <g transform="translate(640,0)">
      {% for i, (group, wins) in enumerate(top_groups.iteritems()) %}
        <rect y="{{ i * bar_height }}" width="300" height="{{ bar_height }}"
          fill="#f8f8f8"
          class="party-legend"
          data-highlight="[data-party={{ slug(group) }}]"
          data-party="{{ slug(group) }}"
          data-toggle="1"
        />
        <text x="50" y="{{ (i + .5) * bar_height }}" dy=".38em" text-anchor="end" font-size="20">{{ group }}</text>
        <text x="100" y="{{ (i + .5) * bar_height }}" dy=".38em" text-anchor="end" font-size="20">{{ wins }}</text>
        <rect class="no-pointer" x="110" y="{{ (i + .5) * bar_height - 15 }}" height="{{ 30 }}" width="{{ 190 * wins / max_wins }}" fill="{{ colors.get(group, 'rgba(128,128,128,.5)') }}"/>
      {% end %}
    </text>
  </g>
</svg>

<p>
  <button class="btn btn-default reset-zoom" title="Reset zoom"><i class="glyphicon glyphicon-search"></i></button>
  <span class="btn-group">
    {% for by in groupbys %}
      <a class="btn btn-default{{ ' active' if by == groupby else '' }}" href="?BY={{ by }}">{{ by.title() }}</a>
    {% end %}
  </span>
</p>

{% if metric != 'CONSTANT' %}
  <div class="row carto-summary">
    {% for name, table in [('Top', pivot.sort(metric, ascending=False)), ('Bottom', pivot.sort(metric, ascending=True))] %}
      <div class="col-md-6">
        <h3>{{ name }} {{ metric_names[metric] }}</h3>
        <table class="table table-condensed">
          <thead><tr><th>State</th><th>PC</th><th>{{ groupby.title() }}</th><th>Winner</th><th>{{ metric_names[metric] }}</th></tr></thead>
          <tbody>
            {% for (state, pc), row in table.head(10).iterrows() %}
              <tr class="direct" href="result?BY=&YEAR={{ quote(year) }}&STATE={{ quote(state) }}&PC={{ quote(pc) }}">
                <td>{{ escape(state.title()) }}</td>
                <td>{{ escape(pc.title()) }}</td>
                <td>{{ escape(row[groupby]) }}</td>
                <td>{{ escape(row['WINNER'].title()) }}</td>
                <td>{{ ('{:,.1%}' if metric.endswith('%') else '{:,.0f}').format(row[metric]) }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>
      </div>
    {% end %}
  </div>
{% end %}

{% code %}
pivot['Lat'] = latlong['Lat']
pivot['Long'] = latlong['Long']
metric_mean = pivot[metric].mean()
{% end %}
<script id="data" type="text/csv">{% set csv = StringIO() %}{% set pivot.to_csv(csv) %}{{ csv.getvalue() }}</script>
<script>
var colors = {{ json.dumps(colors.to_dict()) }},
    groupby = '{{ groupby }}'

var data = d3.csv.parse($('#data').text(), function(row) {
  for (var key in row) {
    // Convert values to integers
    if (key != 'STATE' && key != 'PC' && key != groupby)
      row[key] = +row[key]
    // Get the scaled x,y coords
    row.x = {{ H }} * .95 * (row['Long'] - 68.5) / (97 - 68.5) + Math.random() + {{ (W - H)/2 }} - 150,
    row.y = {{ H }} * (36.7 - row['Lat']) / (36.7 - 8) + Math.random(),
    {% if pd.isnull(metric_mean) %}
      row.r = 6
    {% else %}
      row.r = 6 * Math.pow(row['{{ metric }}'] / {{ metric_mean }}, .5)
    {% end %}
  }
  return row
})

var update = d3.select('#carto-contents').selectAll('circle')
    .data(data)
  .enter()
    .append('circle')
    .attr('r', function(d) { return d.r })
    .attr('title', function(d) { return d.STATE + ': ' + d.PC + '<br>' + d[groupby] })
    .attr('fill', function(d, i) { return colors[d[groupby]] || 'rgba(128,128,128,.5)' })
    .attr('data-party', function(d) { return d[groupby].replace(/[^A-Za-z0-9_]/g, '-') })
    .attr('href', function(d) { return 'result?BY=&YEAR={{ year }}&STATE=' + encodeURIComponent(d.STATE) + '&PC=' + encodeURIComponent(d.PC) })
    .classed('direct', true)
    .call(G.unpack()
      .width({{ H }})
      .height({{ H }}))

try {
  G.zoom({selector: '#carto'})

  d3.select('.reset-zoom').on('click', function() {
    d3.selectAll('#carto > *').attr('transform', null)
  })
} catch(e) {
  $('.reset-zoom').hide()
}
</script>
