{{ GRAMEX(cache=['parliament.csv', 'colors.csv'], max_age=10*60) }}{% code %}

from common import pc_setup, slug, metric_names, NONE_COLOR
data, elections = DB.csv('parliament.csv', setup=pc_setup, dtype=object)
party_colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color'].ix['PARTY']
winners = data[data['#'] == '1']

summary = winners.pivot_table(cols='PARTY', rows='YEAR', values='NAME', aggfunc='count').fillna(0)
if 'Y' in args:
    summary = summary.ix[args['Y']]
parties = summary.sum().order(ascending=False).head(15).index
constituencies = summary.T.sum()
summary = summary[parties]
summary['Rest'] = constituencies - summary.T.sum()
W, H = 940, 500
w, pad, legend, yearheight = 920. / len(parties), 5, 30, 30
{% end %}
<svg class="pc-index" width="100%" data-height="{{ float(H)/W }}" viewBox="0 0 {{ W }} {{ H }}">
  <rect width="30" height="{{ legend - 5 }}" class="party-unhighlight" fill="#000" title="Show all parties"/>
  <text x="15" y="{{ (legend - 5) * .5 }}" text-anchor="middle" dy=".35em" fill="#fff">x</text>
  {% for i, party in enumerate(parties) %}
    {% set background_color = party_colors.get(party, NONE_COLOR) %}
    <rect class="party-legend"
      data-party="{{ slug(party) }}"
      data-highlight="[data-party={{ slug(party) }}]"
      data-toggle="highlight"
      x="{{ 30 + w * i }}"
      width="{{ w }}"
      height="{{ legend - 5 }}"
      fill="{{ background_color }}"></rect>
    <text class="party-legend-text"
      x="{{ 30 + w * (i + .5) }}"
      y="{{ (legend - 5) * .5 }}"
      text-anchor="middle"
      dy=".35em"
      fill="{{ _color.contrast(background_color) }}"
      data-party="{{ slug(party) }}">{{ party }}</text>
  {% end %}

  <g class="pc-stack">
  {% set w = 940. / len(summary.T.columns) %}
  {% for i, year in enumerate(summary.T) %}{% code %}
    series = summary.ix[year]
    height = series / float(series.sum()) * (H - legend - yearheight)
    pos = pd.DataFrame({
      'CONSTITUENCIES': series,
      'h': height,
      'y': H - height.cumsum()
    })
    {% end %}
    <text x="{{ w * (i+.5) }}" y="{{ legend }}" dy="1em" text-anchor="middle" class="year-legend">{{ year }}</text>
    {% for party, row in pos.iterrows() %}
      {% code %}
      background_color = party_colors.get(party, NONE_COLOR)
      foreground_color = _color.contrast(background_color)
      {% end %}
      <rect x="{{ w * i + pad }}" width="{{ w - 2*pad }}" y="{{ row['y'] }}" height="{{ row['h'] }}"
        data-party="{{ slug(party) }}"
        title="{{ escape(party) }}: {{ int(row['CONSTITUENCIES']) }} constituencies in {{ year }}"
        href="cartogram?Y=&YEAR={{ year }}"
        fill="{{ background_color }}" stroke="#fff"/>
      {% if row['h'] > 40 %}
        <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
          data-party="{{ slug(party) }}"
          fill="{{ foreground_color }}" text-anchor="middle">{{ int(row['CONSTITUENCIES']) }}</text>
        <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
          data-party="{{ slug(party) }}"
          fill="{{ foreground_color }}" dy="1em" text-anchor="middle">{{ escape(party) }}</text>
      {% elif row['h'] > 12 %}
        <text x="{{ w * (i+.5) }}" y="{{ row['y'] + row['h'] * .5 }}"
          data-party="{{ slug(party) }}"
          fill="{{ foreground_color }}" dy=".35em" text-anchor="middle">{{ int(row['CONSTITUENCIES']) }}</text>
      {% end %}
    {% end %}
  {% end %}
  </g>
</svg>
