{% code %}
from urllib import quote
_ = globals().get
sort = _('sort', None)
pc_format = '{:.%d%%}' % _('decimals', 1)
{% end %}
{% if len(table) %}
<table class="table table-condensed analysis">
  <thead>
    <th>Year</th>
    <th>State</th>
    <th>Constituency</th>
    {% for c in table.columns %}<th{{ ' class="sorted"' if c == sort else '' }}>{{ c.title() }}</th>{% end %}
  </thead>
  <tbody>
    {% for (year, state, pc), row in table.iterrows() %}
      <tr href="result?YEAR={{ year }}&STATE={{ quote(state) }}&PC={{ quote(pc) }}&{{ quote(remove) }}=">
        <th>{{ year }}</td>
        <th>{{ escape(state.title()) }}</td>
        <th>{{ escape(pc.title()) }}</td>
        {% for c in table.columns %}
          {% if c in ('WINNER', 'NAME') %}
            <td>{{ escape(row[c].title()) }}</td>
          {% elif c in ('MARGIN', 'VOTES', '1', '2', 'WOMEN', 'AGE') %}
            <td>{{ 0 if pd.isnull(row[c]) else '{:,.0f}'.format(row[c]) }}</td>
          {% elif c.endswith('%') %}
            <td>{{ pc_format.format(0 if pd.isnull(row[c]) else row[c]) }}</td>
          {% else %}
            <td>{{ row[c] }}</td>
          {% end %}
        {% end %}
      </tr>
    {% end %}

  </tbody>
</table>
{% else %}
<p>No results for this selection.</p>

<p><a href="?STATE=&n=&YEAR=">Try deselecting all states and years.</a></p>
{% end %}
