{{ GRAMEX(cache=['voteshare.csv', '2014-seatshare-forecast.csv', 'colors.csv', 'abbr.csv'], max_age=10*60) }}{% code %}

from urllib import quote
from common import slug

state = args['STATE'][0] if 'STATE' in args else None

voteshare = DB.csv('voteshare.csv')
parties = DB.csv('voteshare-parties.csv')
group = parties.set_index(['STATE', 'PARTY'])['GROUP'].to_dict()
voteshare['GROUP'] = voteshare.apply(lambda v: group.get((v['STATE'], v['PARTY']), v['PARTY']), axis=1)

seatshare = DB.csv('2014-seatshare-forecast.csv')
seatshare = seatshare.sort(['STATE', 'SEATSHARE_HI'], ascending=[True, False]).set_index(['STATE', 'GROUP'])

colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color'].ix['PARTY']
distinct_colors = _color.distinct(10)

states = sorted(parties['STATE'].unique())
abbr = DB.csv('abbr.csv').set_index(['Field', 'Name'])['Abbr3'].ix['STATE']
W, legend = 940, 30
{% end %}

<svg width="100%" data-height="{{ 20./W }}" viewBox="0 0 {{ W }} 20">
  {% set w = float(W) / len(states) %}
  {% for i, st in enumerate(states) %}
    <rect class="state-legend"
      href="?STATE={{ quote(st) }}"
      x="{{ w * i }}"
      width="{{ w }}"
      height="20"
      title="{{ escape(st) }}"
      fill="{{ '#aec7e8' if st == state else '#f8f8f8' }}"/>
    <text x="{{ (i + .5) * w }}" y="10" dy=".37em" text-anchor="middle">{{ escape(abbr.get(st, st)) }}</text>
  {% end %}
</svg>

<h2>
  {% if state is not None %}
    <div class="pull-right">
      <i class="glyphicon glyphicon-arrow-up" href="?STATE=" title="All states"></i>
    </div>
  {% end %}
  <i class="back glyphicon glyphicon-circle-arrow-left"></i>
  {% if state is None %}Post pull survey and vote share{% else %}{{ state }} vote share{% end %}
</h2>

{% if state is None %}
  <div id="factoid" class="voteshare-states">
    {% for i, state in enumerate(states) %}
      <div class="topic" href="?STATE={{ quote(state) }}">
        <div class="thumbnail" style="background-color:{{ distinct_colors[i % len(distinct_colors)] }}">
          <div class="caption">
            <h3>{{ state }}</h3>
          </div>
        </div>
      </div>
    {% end %}
  </div>
{% else %}
  {% code %}
  voteshare = voteshare[voteshare['STATE'] == state]
  parties = parties[parties['STATE'] == state]['GROUP'].unique()
  pivot = voteshare.pivot_table(rows=['GROUP'], cols=['YEAR'], values='VOTESHARE', aggfunc='sum')
  if len(parties):
      pivot = pivot.ix[parties]
  nparties = len(pivot.index)
  {% end %}

  {% set w = float(W - 30) / nparties %}
  <svg width="100%" data-height="{{ float(legend) / W }}" viewBox="0 0 {{ W }} {{ legend }}">
    {% for i, party in enumerate(pivot.index) %}
      {% set background_color = colors.get(party, '#888') %}
      <rect width="30" height="{{ legend }}" class="party-unhighlight" fill="#000" title="Show all parties"/>
      <text x="15" y="{{ legend /2 }}" font-size="16" text-anchor="middle" dy=".35em" fill="#fff">x</text>
      <rect
        class="party-legend"
        x="{{ 30 + i * w }}"
        width="{{ w }}"
        height="{{ legend }}"
        fill="{{ background_color }}"
        data-highlight="[data-party={{ slug(party) }}]"
        data-party="{{ slug(party) }}"
        data-toggle="1"/>
      <text class="party-legend-text"
        x="{{ 30 + w * (i + .5) }}"
        y="{{ legend / 2 }}"
        font-size="16"
        text-anchor="middle"
        dy=".35em"
        fill="{{ _color.contrast(background_color) }}"
        data-party="{{ slug(party) }}">{{ escape(party) }}</text>
    {% end %}
  </svg>

  {% set W, H, margin, topmargin, r = 640, 300, 50, 80, 10 %}
  {% set gap = r + 2 %}
  <div class="row">
    <div class="col-md-8">
      <svg class="multiline" width="100%" data-height="{{ float(H + 20)/W }}" viewBox="0 0 {{ W }} {{ H + 20 }}">
        {% if 2014 in pivot %}
          {% set w = float(W - margin - 2*gap)  / len(pivot.columns) %}
          <rect x="{{ W - margin - gap - w }}" width="{{ w }}" height="{{ H }}" fill="rgba(0,0,0,.3)"/>
          <text x="{{ W - margin - gap - w/2  }}" dy="1em" text-anchor="middle">Forecast</text>
        {% end %}
        {{ T('multiline.svg',
            r=r,
            lo=0,
            width=W-margin, height=H,
            data=pivot,
            topmargin=topmargin,
            color=lambda party,i: colors.get(party, '#888'),
            title=lambda v, party, c: '{:s}: {:.0%}'.format(party, v),
            attrs={
              'data-party': lambda party, i: slug(party),
              'class': 'voteline',
              'font-size': '130%'
            },
        ) }}
        {{ T('axis.svg', axis='y',
            data=pivot,
            x=W - margin, y=topmargin, size=H - topmargin,
            format=lambda ticks: ['{:.0%}'.format(t) for t in ticks],
            ticks=4,
            ticksize=1,
            tickattrs={'stroke-width': 0},
            gridsize=-(W - margin),
            gridattrs={'stroke': 'rgba(0,0,0,.1)'},
            textattrs={'font-size': '120%'}
        ) }}
      </svg>
    </div>
    <div class="col-md-4">
      {% code %}
      W, h, margin, gap = W // 2, (H - topmargin) // 5, 80, 25
      seatshare = seatshare.ix[state]
      scale = (W - margin - 2*gap) / float(seatshare['SEATSHARE_HI'].max())
      seatshare['x'] = margin + gap + scale * seatshare['SEATSHARE_LO']
      seatshare['w'] = scale * (seatshare['SEATSHARE_HI'] - seatshare['SEATSHARE_LO'])
      {% end %}
      <svg width="100%" data-height="{{ float(H + 20)/W }}" viewBox="0 0 {{ W }} {{ H + 20 }}" font-size="20">
        <path d="M{{ margin + gap }},{{ topmargin }}V{{ H }}" stroke="#000"/>
        <text x="{{ W / 2 }}" y="{{ topmargin }}" dy="-1em" text-anchor="middle" font-size="130%">2014 seat share forecast</text>
        {% for i, (party, row) in enumerate(seatshare.iterrows()) %}
          <g transform="translate(0, {{ topmargin + (i + .5) * h }})">
            <text x="{{ margin - 5 }}" dy=".37em" text-anchor="end">{{ escape(party) }}</text>
            <rect x="{{ row['x'] }}" width="{{ row['w'] }}" y="{{ -h/3 }}" height="{{ 2*h/3 }}" fill="{{ colors.get(party, '#888') }}" stroke="#000"/>
            <text x="{{ row['x'] - 2 }}" text-anchor="end" dy=".37em">{{ '{:.0f}'.format(row['SEATSHARE_LO']) }}</text>
            <text x="{{ row['x'] + row['w'] + 2 }}" dy=".37em">{{ '{:.0f}'.format(row['SEATSHARE_HI']) }}</text>
          </g>
        {% end %}
      </svg>
    </div>
  </div>

  <p><a class="direct-link btn btn-primary" href="#state?STATE={{ quote(state) }}">{{ escape(state) }} seat share history &raquo;</a>

{% end %}
<script>
$('.multiline circle').each(function() {
    var title = $('title', this);
    $(this).attr('title', title.text());
    title.remove();
})
</script>
