{{ GRAMEX(cache=['assembly.csv', 'colors.csv', 'state-by-common.html'], max_age=10*60) }}
{% include state-by-common.html %}
{% code %}
ac_year = winners.pivot_table(rows='AC_NAME', cols='YEAR', values='PARTY', aggfunc='max')
groups = winners.groupby(['AC_NAME', 'YEAR']).groups
{% end %}
<h2>
  <a href="?ST_NAME=&YEAR=&AC_NAME=&BY=">India</a> &raquo;
  {{ state }}
  <div class="btn-group">
    <a class="btn btn-xs btn-default" href="?BY=PARTY">Party-wise</a>
    <a class="btn btn-xs btn-primary active" href="?BY=AC">Constituency-wise</a>
  </div>
  <span class="form-inline pull-right">
    <div class="form-group">
      <input class="form-control" type="search" placeholder="Search" data-search="data-ac" data-target=".state-by-ac tr[data-ac]" data-hide-class="hide">
    </div>
  </span>
</h2>

<table class="table year-table state-by-ac">
  <thead>
    <tr>
      <th>Constituency</th>
      {% for year in ac_year %}
        <th class="year" href="?YEAR={{ year }}&BY=" title="View {{ escape(state) }} results for {{ year }}">{{  year }}</th>
      {% end %}
      <th>&#160;</th>
      {% for rank in range(1, 4) %}<th>#{{ rank }}</th>{% end %}
    </tr>
  </thead>
  <tbody>
    {% for ac, row in ac_year.iterrows() %}
      <tr data-ac="{{ escape(ac) }}">
        <th title="View all {{ escape(ac) }} results" href="?AC_NAME={{ quote(ac) }}&BY=">{{ ac.title() }}</th>
        {% for year, party in row.iteritems() %}
          {% if pd.isnull(party) %}
            <td></td>
          {% else %}
            {% set row = winners.ix[groups[ac, year][0]] %}
            {% set fill = party_colors.get(party, '#ccc') if party else '#fff' %}
            <td
              href="?YEAR={{ year }}&AC_NAME={{ quote(ac) }}&BY="
              title="{{ escape(row['NAME']) }} of<br>{{ escape(party) }} won in {{ year }} at <br>{{ escape(ac) }} with <br>{{ '{:,.0f}'.format(row['VOTES']) }} votes"
              style="background-color:{{ fill }};color:{{ _color.contrast(fill) }}"
            >{{ party }}</td>
          {% end %}
        {% end %}
        <td></td>
        {% set freq = ac_year.ix[ac].value_counts() %}
        {% for party, count in freq.head(3).iteritems() %}
          {% set fill = party_colors.get(party, '#ccc') if party else '#fff' %}
          <td
            href="?AC_NAME={{ quote(ac) }}&PARTY={{ quote(party) }}&BY="
              title="{{ escape(party) }} won {{ count }} times at {{ escape(ac) }}"
            style="background-color:{{ fill }};color:{{ _color.contrast(fill) }}"
          >{{ count }}</td>
        {% end %}
      </tr>
    {% end %}
  </tbody>
</table>
