{{ GRAMEX(cache=['assembly.csv', 'colors.csv', 'latlong.csv'], max_age=30) }}{% code %}
from common import slug

R = 0.1
def latlong_setup(latlong):
    latlong['X'] = latlong['Y'] = pd.np.empty(len(latlong))
    for state, indices in latlong.groupby('ST_NAME').groups.iteritems():
        xy = layout.unpack(latlong.ix[indices][['LONG', 'LAT']], [R] * len(indices), gravity=0, factor=.98)
        latlong['X'][indices] = xy[:,0]
        latlong['Y'][indices] = xy[:,1]
    return latlong

colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color']
data = DB.csv('assembly.csv', dtype=object)
latlong = DB.csv('latlong.csv', setup=latlong_setup)

# Filter by state and year
state, year = args['ST_NAME'][0], args['YEAR'][0]
data = data[data['ST_NAME'] == state]
years = sorted(data['YEAR'].unique())
year_index = years.index(year)
data = data[data['YEAR'] == year]
data['VOTES'] = data['VOTES'].astype(float)

parties = pd.DataFrame({
    'CONTESTED': data[['AC_NO', 'PARTY']].drop_duplicates()['PARTY'].value_counts(),
    'CANDIDATES': data['PARTY'].value_counts(),
    'WON':  data[data['#'] == '1']['PARTY'].value_counts(),
}).fillna(0).sort(['WON', 'CONTESTED'], ascending=False).astype(int)

top_parties = parties.head(12)
x0, W = 120, 1000
w = W / len(top_parties)
h = [(0, 50), (60, 30), (100, 30), (135, 20)]
H = h[-1][0] + h[-1][1]
top_parties['ww'] = top_parties['WON'] * W / top_parties['WON'].sum()
top_parties['wx'] = top_parties['ww'].cumsum() - top_parties['ww']
top_parties['cw'] = top_parties['CONTESTED'] * W / top_parties['CONTESTED'].sum()
top_parties['cx'] = top_parties['cw'].cumsum() - top_parties['cw']

party_colors = colors.ix['PARTY']

{% end %}
<h2 class="no-select">
  <span href="?YEAR=">{{ args.get('ST_NAME', [''])[0] }}</span>
  <small class="link" {% if year_index > 0 %} href="?YEAR={{ years[year_index - 1] }}" title="Show {{ years[year_index - 1] }} results"{% end %}>◄</small>
  {{ args.get('YEAR', [''])[0] }}
  <small class="link" {% if year_index < len(years) - 1 %} href="?YEAR={{ years[year_index + 1] }}" title="Show {{ years[year_index + 1] }} results"{% end %}>►</small>
</h2>

<svg class="state-year-result full-width" width="100%" viewBox="{{ -x0 }} 0 {{ x0 + W }} {{ H }}" data-height="{{ float(H) / (x0 + W) }}">
  <text x="-5" y="{{ h[0][0] + h[0][1] * .5 }}" dy=".35em" text-anchor="end">{{ '{:,d}'.format(len(parties)) }} parties</text>
  <text x="-5" y="{{ h[1][0] + h[1][1] * .5 }}" dy=".35em" text-anchor="end">{{ '{:,d}'.format(parties['CANDIDATES'].sum()) }} candidates</text>
  <text x="-5" y="{{ h[2][0] + h[2][1] * .5 }}" dy=".35em" text-anchor="end">{{ '{:,d}'.format(parties['WON'].sum()) }} seats</text>
  {% for i, (party, row) in enumerate(top_parties.iterrows()) %}
    {% code %}
    party_key = slug(party)
    fill = party_colors.get(party, '#999')
    title = '{:s} won<br>{:d} seats contesting in<br>{:d} constituencies'.format(party, row['WON'], row['CONTESTED'])
    {% end %}
    <path d="
    M{{ i*w }},{{ h[0][0] }}
    h{{ w }}
    v{{ h[0][1] }}
    L{{ row['cx'] + row['cw'] }},{{ h[1][0] }}
    v{{ h[1][1] }}

    L{{ row['wx'] + row['ww'] }},{{ h[2][0] }}
    v{{ h[2][1] }}
    h{{ -row['ww'] }}
    v{{ -h[2][1] }}

    L{{ row['cx'] }},{{ h[1][0] + h[1][1] }}
    v{{ -h[1][1] }}
    L{{ i*w }},{{ h[0][0] + h[0][1]  }}
    z" fill="{{ fill }}" data-party="{{ party_key }}" class="party-legend"/>

    <rect x="{{ i * w }}"     width="{{ w }}"         y="{{ h[0][0] }}" height="{{ h[0][1] }}" fill="{{ fill }}" title="{{ title }}" data-party="{{ party_key }}" class="party-legend" data-highlight="[data-party={{ party_key }}]"/>
    <rect x="{{ row['cx'] }}" width="{{ row['cw'] }}" y="{{ h[1][0] }}" height="{{ h[1][1] }}" fill="{{ fill }}" title="{{ title }}" data-party="{{ party_key }}" class="party-legend" data-highlight="[data-party={{ party_key }}]"/>
    <rect x="{{ row['wx'] }}" width="{{ row['ww'] }}" y="{{ h[2][0] }}" height="{{ h[2][1] }}" fill="{{ fill }}" title="{{ title }}" data-party="{{ party_key }}" class="party-legend" data-highlight="[data-party={{ party_key }}]"/>

    <text x="{{ (i + .5) * w }}" y="{{ h[0][0] }}" dy="1.2em" text-anchor="middle" fill="#fff" font-size="14">{{ party }}</text>
    <text x="{{ (i + .5) * w }}" y="{{ h[0][0] }}" dy="3em" text-anchor="middle" fill="#fff"><tspan font-size="22" font-weight="bold">{{ row['WON'] }}</tspan> / {{ row['CONTESTED'] }}</text>
    {% if row['cw'] > 20 %}
      <text x="{{ row['cx'] + row['cw'] * .5 }}" y="{{ h[1][0] + h[1][1]*.5 }}" dy=".35em" text-anchor="middle" fill="#fff">{{ row['CONTESTED'] }}</text>
    {% end %}
    {% if row['ww'] > 20 %}
      <text x="{{ row['wx'] + row['ww'] * .5 }}" y="{{ h[2][0] + h[2][1]*.5 }}" dy=".35em" text-anchor="middle" fill="#fff">{{ row['WON'] }}</text>
    {% end %}
  {% end %}
  {# Axis ticks #}
  {% for pos in [.25, .5, .75] %}
    <path d="M{{ pos * W }},{{ h[2][0] + h[2][1] }}V{{ h[3][0] }}"/>
    <text x="{{ pos*W }}" y="{{ h[3][0] }}" dy="1em" text-anchor="middle">{{ '{:.0%}'.format(pos) }}</text>
  {% end %}
</svg>


{% code %}
pos = latlong[latlong['ST_NAME'] == state].set_index('AC_NAME')
xmax, xmin = pos['X'].max(), pos['X'].min()
ymax, ymin = pos['Y'].max(), pos['Y'].min()
diameter = max(ymax - ymin, xmax - xmin) + 2 * R
xmax, xmin = (xmax + xmin + diameter) * .5, (xmax + xmin - diameter) * .5
ymax, ymin = (ymax + ymin + diameter) * .5, (ymax + ymin - diameter) * .5

data = data.set_index('AC_NAME')
data['X'] = pos['X']
data['Y'] = pos['Y']
{% end %}
<svg width="50%" data-height="1" viewBox="{{ xmin }} {{ ymin }} {{ xmax - xmin }} {{ ymax - ymin }}">
  {% for index, row in data[data['#'] == '1'].iterrows() %}
    <circle cx="{{ row['X'] }}" cy="{{ ymax - row['Y'] + ymin }}" r="{{ R }}"
    fill="{{ party_colors.get(row['PARTY'], '#999') }}"
    data-party="{{ slug(row['PARTY']) }}"
    title="{{ index }}<br>{{ escape(row['NAME']) }} of {{ escape(row['PARTY']) }}<br>won with {{ '{:,.0f}'.format(row['VOTES']) }} votes"/>
  {% end %}
</svg>
