{{ GRAMEX(cache=['assembly.csv', 'colors.csv', 'state-by-common.html'], max_age=10*60) }}
{% include state-by-common.html %}
{% code %}
contested = state_data.pivot_table(rows='PARTY', cols='YEAR', values='NAME', aggfunc='count')
wins = winners.pivot_table(rows='PARTY', cols='YEAR', values='NAME', aggfunc='count').fillna(0)
ranks = wins.rank(axis=0, method='min', ascending=False)

contested.insert(0, 'CONTESTED', contested.sum(axis=1))
contested.insert(1, 'WON', wins.sum(axis=1))
contested = contested.fillna(0).astype(int)
contested.sort(['WON', 'CONTESTED'], ascending=False, inplace=True)
{% end %}
<h2>
  <a href="?ST_NAME=&YEAR=&AC_NAME=&BY=">India</a> &raquo;
  {{ state }}
  <div class="btn-group">
    <a class="btn btn-xs btn-primary active" href="?BY=PARTY">Party-wise</a>
    <a class="btn btn-xs btn-default" href="?BY=AC">Constituency-wise</a>
  </div>
  <div class="btn-group">
    <span class="btn btn-xs btn-default rank1 rank-legend" data-highlight=".rank1">Winner</span>
    <span class="btn btn-xs btn-default rank2 rank-legend" data-highlight=".rank2">Runner-up</span>
    <span class="btn btn-xs btn-default rank3 rank-legend" data-highlight=".rank3">Others</span>
  </div>
</h2>

<table class="table year-table state-by-party">
  <thead>
    <tr>
      <th>Won</th>
      <th>Out of</th>
      <th>Party</th>
      {% for year in contested.columns[2:] %}
        <th class="year" href="?YEAR={{ year }}&BY=" title="View {{ escape(state) }} results for {{ year }}">{{  year }}</th>
      {% end %}
    </tr>
  </thead>
  <tbody>
    {% for party, row in contested.iterrows() %}
      {% set fill = party_colors.get(party, '#fff') %}
      <tr>
        <td>{{ '{:,.0f}'.format(row['WON']) }}</td>
        <td>{{ '{:,.0f}'.format(row['CONTESTED']) }}</td>
        <th title="View all {{ escape(party) }} results in {{ escape(state) }}" style="background-color:{{ fill }};color:{{ _color.contrast(fill) }}" href="?PARTY={{ quote(party) }}&BY=">{{ party }}</th>
        {% for year, c in row[2:].iteritems() %}
          {% if contested[year][party] %}
            {% set rank = ranks[year][party] if party in ranks[year] else pd.np.nan %}
            {% set won = wins[year][party] if party in wins[year] else 0 %}
            <td
              class="rank{{ 3 if pd.isnull(rank) else int(min(rank, 3)) }}"
              href="?YEAR={{ year }}&PARTY={{ quote(party) }}&BY="
              title="In {{ year }}, {{ party }} won<br>{{ '{:,.0f}'.format(won) }} seats out of<br>{{ '{:,.0f}'.format(c) }} contested<br>Rank: {{ rank }}"
              >{{ '{:,.0f}'.format(won) }}</td>
          {% else %}
            <td></td>
          {% end %}
        {% end %}
      </tr>
    {% end %}
  </tbody>
</table>
