{{ GRAMEX(cache=['assembly.csv', 'colors.csv'], max_age=30) }}{% code %}
from common import slug

data = DB.csv('assembly.csv', dtype=object)
colors = DB.csv('colors.csv').set_index(['Field', 'Name'])['Color']
party_colors = colors.ix['PARTY']

state = args['ST_NAME'][0]
state_data = data[data['ST_NAME'] == state]
winners = state_data[state_data['#'] == '1']
winners.sort('AC_NAME', inplace=True)

acs = winners['AC_NAME'].unique()
years = winners['YEAR'].unique()
parties = winners['PARTY'].value_counts().order(ascending=False)
acs.sort()
years.sort()
party_won = winners.groupby(['PARTY', 'YEAR'])['NAME'].count()
party_contested = state_data.groupby(['PARTY', 'YEAR'])['NAME'].count()

ac_pos = dict(zip(acs, range(len(acs))))
year_pos = dict(zip(years, range(len(years))))

w, h = 24, 14
gap = 2 * h
fontsize = h * 0.8
x0, y0 = 12 * h, 3 * h
W = x0 + w * len(years) + x0
H = y0 + h * len(acs) + gap + h * len(parties) + y0
{% end %}
<h2>{{ state }}</h2>

<svg class="state-result" width="{{ W }}px" viewBox="0 0 {{ W }} {{ H }}" data-height="{{ float(H) / W }}">
  {% for year in years %}
    {% set x = x0 + w * year_pos[year] %}
    <text x="{{ x + w/2 }}" y="{{ y0 }}" dx=".5em" dy=".35em" href="?YEAR={{ year }}" transform="rotate(-90 {{ x + w/2 }} {{ y0 }})" font-size="{{ fontsize }}">{{ year }}</text>
  {% end %}
  {% for i, (party, count) in enumerate(parties.iteritems()) %}
    {% set y, fill = y0 + h * i, party_colors.get(party, '#fff') %}
    {% set party_key = slug(party) %}
    <rect x="0" width="{{ x0 }}" y="{{ y }}" height="{{ h }}" fill="{{ fill }}" data-party="{{ party_key }}"/>
    <text x="{{     x0 - 5 }}" y="{{ y + h/2 }}" dy=".35em" font-size="{{ fontsize }}" data-party="{{ party_key }}" fill="{{ _color.contrast(fill) }}" text-anchor="end">{{ party }}</text>
    <text x="{{ W - x0 + 5 }}" y="{{ y + h/2 }}" dy=".35em" font-size="{{ fontsize }}" data-party="{{ party_key }}">{{ party }}</text>
    {% for year in years %}{% code %}
      x = x0 + w * year_pos[year]
      won = party_won.get((party, year), 0)
      contested = party_contested.get((party, year), 0)
      cell_fill = _color.gradient((won * 2.)/contested - 1, _color.RdYlGn) if contested > 0 else '#fff'
      {% end %}
      <rect x="{{ x }}" y="{{ y }}" width="{{ w }}" height="{{ h }}" fill="{{ cell_fill }}" title="{{ party }} won<br>{{ won }} seats out of<br>{{ contested }} contested"/>
      {% if contested %}
        <text x="{{ x + w - 2 }}" y="{{ y + h/2 }}" dy=".35em" fill="{{ _color.contrast(cell_fill) }}" font-size="{{ fontsize }}" text-anchor="end">{{ won }}</text>
      {% end %}
    {% end %}
  {% end %}
  {% for ac in acs %}
    {% set y = y0 + h * len(parties) + gap + h * ac_pos[ac] %}
    <text x="{{     x0 - 5 }}" y="{{ y + h/2 }}" dy=".35em" font-size="{{ fontsize }}" text-anchor="end">{{ ac.title() }}</text>
    <text x="{{ W - x0 + 5 }}" y="{{ y + h/2 }}" dy=".35em" font-size="{{ fontsize }}">{{ ac.title() }}</text>
  {% end %}
  {% for i, row in winners.iterrows() %}{% code %}
    x = x0 + w * year_pos[row['YEAR']]
    y = y0 + h * len(parties) + gap + h * ac_pos[row['AC_NAME']]
    fill = party_colors.get(row['PARTY'], '#999')
    {% end %}
    <rect x="{{ x }}" y="{{ y }}" width="{{ w }}" height="{{ h }}" fill="{{ fill }}"
      title="{{ escape(row['NAME']) }} of<br>{{ escape(row['PARTY']) }} won in {{ row['YEAR'] }} at <br>{{ escape(row['AC_NAME']) }} with <br>{{ '{:,.0f}'.format(float(row['VOTES'])) }} votes"/>
  {% end %}
</svg>
