body.tv {
  background-color: #b1b180;
  padding-top: 70px;
  padding-bottom: 540px;
}
.tv .back { color: #000; }

/* Large screen-related TV settings */
@media (min-width: 1920px) {
  .tv .container { width: 1900px; }
  .tv .pc-result { font-size: 48px; }
  .tv .pc-state { font-size: 40px; }

  .tv #state-legend-container { position: fixed; top: 60px; width: 1880px; }
  .tv .cartogram { margin-top: 100px; }

  .tv .pc-index { font-weight: bold; }
  .tv .pc-index .year-legend { font-size: 24px; }
  .tv .pc-result .year-legend { font-size: 24px; }
  .tv .pc-result .const-stack { font-size: 16px; }

  .tv .pc-summary { font-size: 32px; }
  .tv .pc-summary h2 { margin-top: 1em; }
  .tv .pc-summary .table-condensed>thead>tr>th,
  .tv .pc-summary .table-condensed>tbody>tr>th,
  .tv .pc-summary .table-condensed>tfoot>tr>th,
  .tv .pc-summary .table-condensed>thead>tr>td,
  .tv .pc-summary .table-condensed>tbody>tr>td,
  .tv .pc-summary .table-condensed>tfoot>tr>td {
    padding: .2em;
  }
}

header {
  background-color: #8064a2;
  color: #fff;
  margin-bottom: 1em;
}
header .heading {
  font-family: "Franklin Gothic Medium Cond", sans-serif;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
header .em {
  opacity: 0.75;
  margin-right: 0.2em;
}
header small {
  color: #fff;
  opacity: .75;
  text-transform: none;
}
header .home {
  color: #fff;
}

@media (max-width:  768px) {
  body { font-size: 11px; }
  header { margin-bottom: 5px; }
  h1 { font-size: 125%; margin: 5px 0; }
  h2 { font-size: 110%; margin: 5px 0; }
  h3 { margin: 5px 0; }
}

text { pointer-events: none; }
[href], [data-highlight], .home, .clickable {
  cursor: pointer;
  pointer-events: all;
}
.tooltip {
  font-family: sans-serif;
}
.tooltip-inner {
  text-align: left;
}
.tooltip-inner h1 {
  font-size: 100%;
  font-weight: bold;
  padding: 0 0 3px 0;
  margin: 0 0 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}
.full-width {
  min-width: 750px;
  width: 100%;
}
.party-legend.fade { opacity: .2; }
.party-legend-text.fade { opacity: .4; }
.party-legend.active { stroke: rgba(0,0,0,.5); }
.bar-legend { fill: none; }
.bar-legend.active { fill: #eec; }
.state-legend.fade { opacity: .3; }
.rank-legend.fade { opacity: .3; }
.cartogram .fade { opacity: .05; }
.cartogram circle.fade, .state-table .fade, .pc-stack .fade { pointer-events: none; }
.wealthmap .fade { opacity: .1; }

rect.state-legend { stroke: rgba(0,0,0,.2); }

.link[href] { color: {{ _color.Office[0] }}; }

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

#results {
  min-height: 800px;
}

.year-table {
  width: auto;
  table-layout: fixed;
  font-size: 12px;
}
.year-table thead tr th {
  text-align: right;
  font-size: 90%;
  padding: .2em;
}
.year-table thead tr .year {
  text-align: center;
}
.year-table tbody tr th {
  text-align: right;
  vertical-align: middle;
  padding: .2em;
}
.year-table tbody tr td {
  text-align: right;
  vertical-align: middle;
  padding: .2em;
}

.state-by-ac tbody tr td {
  text-align: center;
}

table.state-party {
  font-size: 14px;
}

.state-ac {
  width: 100%;
  margin-bottom: 2em;
}
svg.state-ac text {
  font-size: 12px;
}

table.state-ac > tbody > tr > td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align:center;
  overflow:hidden;
  font-size: 10px;
  vertical-align:middle;
}
table.state-ac > thead > tr > th {
  padding: 2px;
  text-align: center;
}
table.state-ac > tbody > tr > th {
  font-size: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  text-align:right;
  vertical-align: middle;
}

.rank1 { background-color: #000; color: #fff; }
.rank2 { background-color: #888; color: #fff; }
.rank3 { background-color: #eee; color: #000; }

.state-ac-year td, .state-ac-year th {
  font-size: 12px;
  text-align: right;
}

.analysis td, .analysis th {
  text-align: right;
}

.state-ac rect {
  stroke: #fff;
}

.cartogram circle {
  stroke: rgba(0,0,0,.4);
}

.ac-cartogram circle {
  stroke-width: .01;
}

#facts .img {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center center;
}

#facts .carousel-caption {
  text-shadow: 1px 1px 3px rgba(0,0,0,.8);
  background-color: rgba(0,0,0,.5);
}

#facts {
  margin-bottom: 1em;
}

#factoid {
  margin-bottom: 1em;
}

#factoid .thumbnail .img {
  display: block;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center center;
}

#factoid h3 {
  margin: 10px 0;
}

h2 {
  font-size: 175%;
}
h2 a:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}


/* For Parliament elections */

.topic {
  width: 231px;
  display: inline-block;
  vertical-align: top;
}

.topic .caption {
  display: inline-block;
  height: 12em;
}

.sorted {
  background-color: #8064a2;
  color: #fff;
}

.multicolumn {
 -webkit-column-count: 2;
    -moz-column-count: 2;
         column-count: 2;
}

.cartogram-results h3 {
  font-size: 24px;
  color: #444;
  font-family: "Franklin Gothic Medium Cond", sans-serif;
}

.summary-title {
  font-size: 40px;
  color: #888;
  font-family: "Franklin Gothic Medium Cond", sans-serif;
  font-variant: small-caps;
}
.summary-title h3 {
  font-size: 110%;
  line-height: 0.75;
  margin: 0;
  padding: 0;
  color: #000;
}

#analyses .nav a {
  color: #000;
  font-family: "Franklin Gothic Medium Cond", sans-serif;
  font-size: 150%;
}
#analyses .nav .active a {
  color: #fff;
}

#pc circle, .legend circle {
  stroke: rgba(0,0,0,.2);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

#carto-contents text {
  font-family: "Franklin Gothic Medium Cond", sans-serif;
}

.carto-summary { font-size: 12px; }
.carto-summary h3 { margin: 0 0 10px 5px; padding: 0;}
.carto-summary th { white-space: nowrap; }

.no-pointer {
  pointer-events: none;
}

.years {
  padding: 10px 10px 0 10px;
  width: 18em;
}
.years label {
  display: inline-block;
  width: 5em;
}

.back {
  color: #8AAFDD;
  cursor: pointer;
}

.match {
  fill: #ff8060;
}

.state-table>tbody>tr>td.svg-cell {
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.state-table td, .state-table th {
    font-size: 75%;
}
.state-table thead th, .state-table tbody td { text-align: center; }
.state-table tbody th { text-align: right; }

.winner-story { font-size: 120%; line-height: 1.3; }
.winner-name { color: #c0504d; }
.winner-party { padding: 0 .5em; }

input.lo, input.hi {
  width: 80%;
  display: inline;
  height: 1em;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin: 3em 0;
}
.year-legend.active {
  fill: #c0504d;
  font-weight: bold;
}
